Repository MinaProtocol/mina, pull requests merged in 2022-12, with the labels that each got.

#12310 epoch_data UNIQUE constraint
  src/app/archive/create_schema.sql
Labels: berkeley-rampup

#12281 Display key from private-key file as hexadecimal
  src/app/rosetta/ocaml-signer/dune
  src/app/rosetta/ocaml-signer/signer_cli.ml
Labels: rosetta

#11953 Local network zkapp commands
  scripts/mina-local-network/mina-local-network.sh
  scripts/mina-local-network/send-graphql-query.py
  src/app/zkapp_test_transaction/lib/commands.ml
  src/app/zkapp_test_transaction/zkapp_test_transaction.ml
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/transaction_snark/transaction_snark_intf.ml
Labels: ready-to-merge, ci-build-me

#12316 5886 - Add Rosetta Integration Tests to CI
  buildkite/scripts/rosetta-integration-tests.sh
  buildkite/src/Jobs/Test/RosettaIntegrationTests.dhall
  buildkite/src/Lib/Cmds.dhall
Labels: ci-build-me, rosetta, MinaFoundation

#12335 12318 - Refactor rosetta docker-demo-start.sh to support Release 2.0
  src/app/rosetta/docker-demo-start.sh
Labels: ci-build-me, rosetta, MinaFoundation

#12305 Rosetta construction tests
  buildkite/scripts/rosetta-integration-tests.sh
  src/app/rosetta/rosetta-cli-config/config.json
  src/app/rosetta/rosetta-cli-config/mina.ros
Labels: rosetta

#11945 Nix CI: run integration tests
  flake.nix
  nix/ocaml.nix
Labels: ci-build-me, MinaFoundation, nix-integration-tests

#12348 Add dependencies for developing zkapps to nix shell
  flake.lock
  flake.nix
  nix/javascript.nix
  nix/misc.nix
Labels: ci-build-me, rosetta

#12361 Docs: Clarify the documentation on the sandbox network.
  README-sandbox.md
Labels: documentation, MinaFoundation

#12317 Fix problems with balance reconciliation in rosetta-cli tests
  graphql_schema.json
  src/app/rosetta/lib/account.ml
  src/app/rosetta/lib/block.ml
  src/app/rosetta/rosetta-cli-config/README.md
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/mina_lib/mina_lib.mli
Labels: bug, rosetta, MinaFoundation

#12186 Add support for zkapps balance changing operations to Rosetta Data API
  src/app/rosetta/lib/block.ml
Labels: ci-build-me, rosetta, MinaFoundation

#12402 initial branch push
  buildkite/src/Command/TestExecutive.dhall
Labels: ci-build-me, buildkite

#12341 12318 - Refactor rosetta docker-start.sh to support Release 2.0
  src/app/rosetta/README.md
  src/app/rosetta/docker-berkeley-start.sh
  src/app/rosetta/docker-start.sh
Labels: ci-build-me, rosetta, MinaFoundation

#12351 11036 - Pin rosetta-cli to v0.10.1 to prevent ci breaking on rosetta-cli upgrades
  dockerfiles/stages/4-production
Labels: ci-build-me, rosetta, MinaFoundation

#12388 Expand the README on running a sandbox node.
  README-sandbox.md
Labels: documentation, MinaFoundation

#12410 9442 - Cache rosetta builds from the appropriate toolchain image
  buildkite/src/Command/MinaArtifact.dhall
Labels: ci-build-me, rosetta, MinaFoundation

#12386 12068 - Add libjemalloc libprocps libprocps dependencies for Bullseye and Bionic
  dockerfiles/stages/4-production
Labels: ci-build-me, rosetta, MinaFoundation

#12359 12232 - Align Postgresql to version 13 across all distros
  dockerfiles/stages/4-production
Labels: ci-build-me, rosetta, MinaFoundation
