Repository MinaProtocol/mina, pull requests merged in 2023-11, with the labels that each got.

#14213 [RFC] Genesis ledger export
  rfcs/0050-genesis-ledger-export.md
Labels: RFC, hard fork, MinaFoundation, berkeley-mainnet

#14598 Pickles: use Alcotest for unit tests of module `Step_main_inputs`
  src/lib/pickles/step_main_inputs.ml
  src/lib/pickles/test/main.ml
  src/lib/pickles/test/test_sponge.ml
  src/lib/pickles/test/test_step.ml
Labels: tests, pickles

#14592 Pickles: use Alcotest for unit tests of module `Side_loaded_verification_key`
  src/lib/pickles/side_loaded_verification_key.ml
  src/lib/pickles/step_main_inputs.ml
  src/lib/pickles/test/main.ml
  src/lib/pickles/test/test_side_loaded_verification_key.ml
  src/lib/pickles/test/test_sponge.ml
  src/lib/pickles/test/test_step.ml
Labels: tests, pickles

#14559 Deploy migration apps
  buildkite/scripts/build-artifact.sh
  scripts/archive/build-release-archives.sh
Labels: berkeley-mainnet

#14590 Pickles: use Alcotest for unit tests of module `Scalar_challenge`
  src/lib/pickles/scalar_challenge.ml
  src/lib/pickles/scalar_challenge.mli
  src/lib/pickles/side_loaded_verification_key.ml
  src/lib/pickles/step_main_inputs.ml
  src/lib/pickles/step_verifier.ml
  src/lib/pickles/test/main.ml
  src/lib/pickles/test/test_scalar_challenge.ml
  src/lib/pickles/test/test_side_loaded_verification_key.ml
  src/lib/pickles/test/test_sponge.ml
  src/lib/pickles/test/test_step.ml
  src/lib/pickles/wrap_verifier.ml
Labels: tests, pickles

#14607 Pickles: use Alcotest for unit test of module `Plonk_curve_ops`
  src/lib/pickles/plonk_curve_ops.ml
  src/lib/pickles/test/main.ml
  src/lib/pickles/test/test_plonk_curve_ops.ml
Labels: tests, pickles

#14636 Pickles: use Alcotest for unit tests in module `Step_verifier`
  src/lib/pickles/step_verifier.ml
  src/lib/pickles/step_verifier.mli
  src/lib/pickles/test/main.ml
  src/lib/pickles/test/test_step_verifier.ml
Labels: tests, pickles
