Repository MinaProtocol/mina, pull requests merged in 2023-08, with the labels that each got.

#13883 Fix Nix environment by bumping libp2p versions.
  nix/go.nix
  nix/libp2p_helper.json
Labels: libp2p, nix

#13972 [Nix] revert update of the go compiler version.
  Makefile
  nix/go.nix
  nix/libp2p_helper.json
Labels: nix

#8079 Add monitoring and alerting README
  automation/terraform/monitoring/README.md
Labels: ci-build-me
