Repository MinaProtocol/mina, pull requests merged in 2025-09, with the labels that each got.

#17703 Push signature kind out of staged ledger
  src/app/cli/src/init/test_ledger_application.ml
  src/lib/block_producer/block_producer.ml
  src/lib/bootstrap_controller/bootstrap_controller.ml
  src/lib/mina_block/validation.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/staged_ledger/staged_ledger.mli
  src/lib/transition_frontier/frontier_base/breadcrumb.ml
  src/lib/transition_frontier/persistent_frontier/persistent_frontier.ml
  src/lib/transition_frontier/transition_frontier.ml
Labels: signature-kind-runtime-configurable

#17686 Refactor Snark Worker related metrics generation
  changes/17686.md
  graphql_schema.json
  src/app/cli/src/init/mina_run.ml
  src/lib/daemon_rpcs/types.ml
  src/lib/mina_commands/mina_commands.ml
  src/lib/mina_graphql/types.ml
  src/lib/mina_metrics/mina_metrics.mli
  src/lib/mina_metrics/no_metrics/mina_metrics.ml
  src/lib/mina_metrics/prometheus_metrics/mina_metrics.ml
  src/lib/snark_work_lib/dune
  src/lib/snark_work_lib/metrics.ml
  src/lib/snark_work_lib/snark_work_lib.ml
  src/lib/snark_worker/entry.ml
  src/lib/snark_worker/events.ml
Labels: refactor, snark-worker

#17721 Removing helm tools
  buildkite/scripts/debian/update.sh
  buildkite/src/Constants/ContainerImages.dhall
  dockerfiles/Dockerfile-mina-test-suite
  dockerfiles/stages/3-toolchain
  scripts/tests/archive-node-test.sh
Labels: bugfix

#17718 Network Pool Base: fix misleading var name
  src/lib/network_pool/network_pool_base.ml
Labels: enhancement

#17691 Add a test for all_accounts_on_masks
  src/lib/merkle_ledger/test/test_mask.ml
Labels: tests, merkle-mask

#17713 [CI][HF] add check for change in archive between forks
  buildkite/scripts/archive/upgrade-script-check.sh
  buildkite/src/Jobs/Lint/ArchiveUpgrade.dhall
Labels: archive-node, hard fork

#17739 Fix and prettify child processs unit tests
  src/lib/child_processes/child_processes.ml
  src/lib/child_processes/tester.sh
Labels: enhancement, bugfix

#17786 Remove specialized build for mainnet/testnet archives
  src/app/archive/archive_mainnet_signatures.ml
  src/app/archive/archive_testnet_signatures.ml
  src/app/archive/dune
Labels: archive-node

#17793 Use Hardfork account type in Root ledger
  src/lib/mina_ledger/ledger.ml
  src/lib/mina_ledger/ledger.mli
  src/lib/mina_ledger/root.ml
  src/lib/mina_ledger/root.mli
Labels: ledger-migration

#17734 [HF] test upgrade script on devnet
  buildkite/scripts/archive/upgrade-script-check.sh
  buildkite/scripts/changelog.sh
  buildkite/scripts/git/check-bypass.sh
  buildkite/src/Command/Rosetta/Connectivity.dhall
  buildkite/src/Jobs/Lint/ArchiveUpgrade.dhall
  changes/17713.md
  scripts/debian/builder-helpers.sh
  scripts/tests/rosetta-connectivity.sh
Labels: testing, archive-node, hard fork

#17809 move time span related fns from bootstrap controller -> stdlib
  src/lib/bootstrap_controller/bootstrap_controller.ml
  src/lib/bootstrap_controller/bootstrap_controller.mli
  src/lib/mina_stdlib/time.ml
Labels: enhancement
