Repository MinaProtocol/mina, pull requests merged in 2025-06, with the labels that each got.

#17310 Snark Worker: clean up interface
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/lib/snark_worker/entry.ml
  src/lib/snark_worker/functor.ml
  src/lib/snark_worker/intf.ml
  src/lib/snark_worker/prod.ml
  src/lib/snark_worker/rpcs.ml
  src/lib/snark_worker/snark_worker.ml
  src/lib/snark_worker/standalone/run_snark_worker.ml
  src/lib/uptime_service/uptime_snark_worker.ml
Labels: snark-worker-optim

#17266 Work Partitioner: define Pending_zkapp_command
  src/lib/snark_work_lib/snark_work_lib.ml
  src/lib/snark_worker/dune
  src/lib/snark_worker/prod.ml
  src/lib/work_partitioner/pending_zkapp_command.ml
  src/lib/work_partitioner/pending_zkapp_command.mli
  src/lib/work_partitioner/snark_worker_shared.ml
  src/lib/work_partitioner/work_partitioner.ml
Labels: snark-worker-optim

#16853 Add an implementation of a `Converting_merkle_tree`
  changes/16853.md
  src/lib/merkle_ledger/converting_merkle_tree.ml
  src/lib/merkle_ledger/converting_merkle_tree.mli
  src/lib/merkle_ledger_tests/test.ml
  src/lib/merkle_ledger_tests/test/main.ml
  src/lib/merkle_ledger_tests/test_converting.ml
  src/lib/merkle_ledger_tests/test_database.ml
  src/lib/merkle_ledger_tests/test_mask.ml
  src/lib/merkle_ledger_tests/test_stubs.ml
  src/lib/mina_base/account.ml
  src/lib/syncable_ledger/test/test.ml
Labels: ledger-migration

#17086 port terraform removal to develop
  dockerfiles/stages/1-build-deps
  dockerfiles/stages/3-toolchain
Labels: ubuntu-noble

#17312 [Toolchain] add exclusive step for bullseye and focal
  dockerfiles/stages/1-build-deps
  dockerfiles/stages/1-build-deps-bullseye-and-focal
  dockerfiles/stages/1-build-deps-noble
  dockerfiles/stages/3-toolchain
  scripts/docker/build.sh
Labels: ubuntu-noble

#17313 [Toolchain] remove unused bookworm container and use always default toolchain
  buildkite/src/Command/CheckGraphQLSchema.dhall
  buildkite/src/Command/ConnectToNetwork.dhall
  buildkite/src/Command/RunInToolchain.dhall
  buildkite/src/Constants/ContainerImages.dhall
  buildkite/src/Constants/Toolchain.dhall
  buildkite/src/Jobs/Lint/Bash.dhall
  buildkite/src/Jobs/Lint/Dhall.dhall
  buildkite/src/Jobs/TearDown/Coverage.dhall
Labels: ubuntu-noble

#17346 Implement work requesting Logic for Work Partitioner
  src/lib/snark_work_lib/snark_work_lib.ml
  src/lib/snark_work_lib/with_job_meta.ml
  src/lib/snark_work_lib/with_job_meta.mli
  src/lib/snark_worker/prod.ml
  src/lib/work_partitioner/job_pool.ml
  src/lib/work_partitioner/job_pool.mli
  src/lib/work_partitioner/pending_zkapp_command.ml
  src/lib/work_partitioner/pending_zkapp_command.mli
  src/lib/work_partitioner/snark_worker_shared.ml
  src/lib/work_partitioner/work_partitioner.ml
  src/lib/work_partitioner/work_partitioner.mli
Labels: snark-worker-optim

#17382 Implement `perform_partitioned`
  src/lib/snark_worker/prod.ml
Labels: snark-worker-optim

#17405 Document the use of `-Zgzip` in debian build helpers
  scripts/debian/builder-helpers.sh
Labels: ubuntu-noble

#17407 Make prometheus happy with the metrics name
  src/lib/concurrency/pipe_lib/swappable_strict_pipe.ml
  src/lib/concurrency/pipe_lib/swappable_strict_pipe.mli
  src/lib/transition_router/transition_router.ml
Labels: bugfix

#17327 Move deprecated value out of transaction logic
  src/app/replayer/replayer.ml
  src/app/zkapp_test_transaction/lib/commands.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/mina_ledger/ledger.ml
  src/lib/mina_ledger/sparse_ledger.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/network_pool/test/indexed_pool_tests.ml
  src/lib/network_pool/transaction_pool.ml
  src/lib/snark_profiler_lib/snark_profiler_lib.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transaction_logic/mina_transaction_logic.ml
  src/lib/transaction_logic/test/protocol_config_examples.ml
  src/lib/transaction_logic/test/transaction_logic/transaction_logic.ml
  src/lib/transaction_logic/test/zkapp_logic.ml
  src/lib/transaction_logic/transaction_applied.ml
  src/lib/transaction_logic/zkapp_command_logic.ml
  src/lib/transaction_snark/test/account_timing/account_timing.ml
  src/lib/transaction_snark/test/fee_payer/fee_payer.ml
  src/lib/transaction_snark/test/util.ml
  src/lib/transaction_snark/test/zkapp_preconditions/zkapp_preconditions.ml
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/transaction_snark/transaction_validator.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
  src/lib/transition_frontier/full_frontier/full_frontier.ml
Labels: signature-kind-runtime-configurable

#17421 Cleanup: Bring back Snark Worker related metrics
  src/app/cli/src/init/mina_run.ml
  src/lib/mina_metrics/mina_metrics.mli
  src/lib/mina_metrics/no_metrics/mina_metrics.ml
  src/lib/mina_metrics/prometheus_metrics/mina_metrics.ml
  src/lib/snark_work_lib/dune
  src/lib/snark_work_lib/metrics.ml
  src/lib/snark_work_lib/snark_work_lib.ml
  src/lib/snark_worker/dune
  src/lib/snark_worker/entry.ml
  src/lib/snark_worker/events.ml
  src/lib/snark_worker/prod.ml
  src/lib/work_partitioner/combining_result.ml
  src/lib/work_partitioner/combining_result.mli
  src/lib/work_partitioner/snark_worker_shared.ml
  src/lib/work_partitioner/work_partitioner.ml
Labels: snark-worker-optim
