Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

[kimchi][backend] update ocaml-gen and remove nightly build
  src/lib/crypto/kimchi_bindings/stubs/Cargo.toml
  src/lib/crypto/kimchi_bindings/stubs/README.md
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/Cargo.toml
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/src/main.rs
  src/lib/crypto/kimchi_bindings/stubs/dune
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi_bindings] use branch instead of local path for proof-systems crates
  src/lib/crypto/kimchi_bindings/stubs/Cargo.toml
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/Cargo.toml
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi_backend] working on making kimchi_backend work (bis)
  src/lib/crypto/kimchi_backend/common/plonk_dlog_proof.ml
  src/lib/crypto/kimchi_backend/common/poly_comm.ml
  src/lib/pickles_types/or_infinity.ml
  src/lib/pickles_types/plonk_verification_key_evals.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi_bindings] update README with guideline for fixed-sized arrays
  src/lib/crypto/kimchi_bindings/stubs/README.md
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi_backend] working on making new backend work
  src/lib/crypto/kimchi_backend/README.md
  src/lib/crypto/kimchi_backend/common/curve.ml
  src/lib/crypto/kimchi_backend/common/dlog_plonk_based_keypair._ml
  src/lib/crypto/kimchi_backend/common/dune
  src/lib/crypto/kimchi_backend/common/endoscale_round.ml
  src/lib/crypto/kimchi_backend/common/field.ml
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system._ml
  src/lib/crypto/kimchi_backend/common/plonk_dlog_oracles.ml
  src/lib/crypto/kimchi_backend/common/plonk_dlog_proof.ml
  src/lib/crypto/kimchi_backend/common/poly_comm.ml
  src/lib/crypto/kimchi_backend/common/version.ml
  src/lib/crypto/kimchi_backend/common/version.mli
  src/lib/crypto/kimchi_backend/dune
  src/lib/crypto/kimchi_backend/kimchi_backend.ml
  src/lib/crypto/kimchi_backend/pasta/basic.ml
  src/lib/crypto/kimchi_backend/pasta/dune
  src/lib/crypto/kimchi_backend/pasta/pallas_based_plonk.ml
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/src/main.rs
  src/lib/crypto/kimchi_bindings/stubs/dune
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/pickles_types/dlog_marlin_types._ml
  src/lib/pickles_types/dlog_plonk_types.ml
  src/lib/pickles_types/dune
  src/lib/pickles_types/or_infinity.ml
  src/lib/pickles_types/pairing_marlin_types._ml
  src/lib/pickles_types/pcs_batch._ml
  src/lib/pickles_types/pcs_batch._mli
  src/lib/pickles_types/plonk_verification_key_evals.ml
  src/lib/pickles_types/scalar_challenge.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fix compilation of common
  src/lib/crypto/kimchi_backend/common/curve.ml
  src/lib/crypto/kimchi_backend/common/plonk_dlog_proof.ml
  src/lib/crypto/kimchi_backend/common/poly_comm.ml
Owners: @MinaProtocol/protocol-eng-reviewers

start fixing compilation of pasta backend
  src/lib/crypto/kimchi_backend/pasta/basic.ml
  src/lib/crypto/kimchi_backend/pasta/pallas_based_plonk.ml
  src/lib/crypto/kimchi_backend/pasta/vesta_based_plonk.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fix up pickles types for kimchi
  src/lib/pickles_types/dlog_plonk_types.ml
  src/lib/pickles_types/plonk_verification_key_evals.ml
  src/lib/pickles_types/shifted_value.ml
  src/lib/pickles_types/vector.ml
Owners: @MinaProtocol/protocol-eng-reviewers

make t have no degree bound
  src/lib/pickles_types/dlog_plonk_types.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[pickles_types] remove legacy marlin types
  src/lib/pickles_types/dlog_marlin_types._ml
  src/lib/pickles_types/pairing_marlin_types._ml
Owners: @MinaProtocol/protocol-eng-reviewers

client sdk missing dependency
  src/app/client_sdk/dune
Owners: none

Rosetta: Dynamic fee suggestion
  src/app/rosetta/lib/construction.ml
Owners: none

create own pvc
  automation/terraform/testnets/gossipqa/gossipqa-prom-pvc.yaml
  automation/terraform/testnets/gossipqa/values.yaml
Owners: none

Guard against underflow when checking acct creation fee
  src/app/archive/archive_lib/processor.ml
Owners: @MinaProtocol/product-eng-reviewers

use String_sign_nonconsensus
  src/app/client_sdk/poseidon_hash.ml
Owners: none

Consider fee transfer via coinbase for creation fee
  scripts/archive/internal-command-account-fees.sh
  src/app/archive/archive_lib/processor.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

no need to specify default
  scripts/archive/internal-command-account-fees.sh
  src/app/archive/archive_lib/processor.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

Check that other txn is fee transfer via coinbase
  scripts/archive/internal-command-account-fees.sh
  src/app/archive/archive_lib/processor.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

fix tests
  src/lib/currency/currency.mli
  src/lib/mina_transition/external_transition_sample_precomputed_block.ml
Owners: @MinaProtocol/protocol-eng-reviewers

revert graphql change
  src/app/cli/src/init/client.ml
Owners: @MinaProtocol/protocol-eng-reviewers

WIP on adding valid-until
  src/app/rosetta/lib/block.ml
  src/app/rosetta/lib/construction.ml
  src/app/rosetta/lib/mempool.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/rosetta_lib/transaction.ml
  src/lib/rosetta_lib/user_command_info.ml
Owners: @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Update graphql_schema.json
  graphql_schema.json
Owners: none

make txn application in scan state only during bootstrap
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/staged_ledger/staged_ledger.mli
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.mli
Owners: @MinaProtocol/protocol-eng-reviewers

gather witness for parties txn
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Grabs valid_until with an optional_uint32
  src/app/rosetta/lib/mempool.ml
Owners: none

delay parties witness construction
  src/lib/snark_worker/prod.ml
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/transaction_snark/transaction_snark.mli
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
  src/lib/transaction_witness/transaction_witness.ml
  src/lib/transaction_witness/transaction_witness.mli
Owners: @MinaProtocol/protocol-eng-reviewers

generate local states for txn statements
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Improved some more variable names
  src/lib/consensus/proof_of_stake.ml
Owners: @MinaProtocol/protocol-eng-reviewers

bump catchup test timeout to 400ms
  src/lib/transition_handler/catchup_scheduler.ml
Owners: @MinaProtocol/protocol-eng-reviewers

helm update
  helm/plain-node/CHANGELOG.md
  helm/plain-node/Chart.yaml
  helm/plain-node/templates/_healthchecks.tpl
  helm/plain-node/templates/plain-node-service.yaml
  helm/plain-node/templates/plain-node.yaml
  helm/plain-node/values.yaml
  helm/plain-node/values.yml
Owners: none

re-enable constraint system
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update endoscale round for kimchi
  src/lib/crypto/kimchi_backend/common/endoscale_round.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update plonk constraint system for endo scale
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system.ml
Owners: @MinaProtocol/protocol-eng-reviewers

final gossipqa network configurations
  automation/terraform/testnets/gossipqa/main.tf
Owners: none

Fixes non-consensus build
  src/lib/rosetta_lib/user_command_info.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fixes account_creation_fee check
  src/app/rosetta/lib/construction.ml
Owners: none

Adds default none to valid_until and account_creation_fee
  src/app/rosetta/lib/construction.ml
Owners: none

Also default None on Options
  src/app/rosetta/lib/construction.ml
Owners: none

Properly sets valid_until in unsigned-render
  src/lib/rosetta_lib/transaction.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Query valid_until from user_commands table
  src/app/rosetta/lib/block.ml
Owners: none

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers
