Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

Uses the valid_until that we already have
  src/app/rosetta/lib/block.ml
Owners: none

[crypto][kimchi_backend] working on making kimchi_backend work (bisx2)
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system.ml
  src/lib/marlin_plonk_bindings/stubs/Cargo.toml
  src/lib/marlin_plonk_bindings/stubs/src/plonk_gate.rs
Owners: @MinaProtocol/protocol-eng-reviewers

lk86/make-devnet-config-more-conservative Make devnet config more conservative and add rosetta-999 config for quick testing of 99.9% coverage
  src/app/rosetta/rosetta-999.conf
Owners: none

Do git timetravel to make the snarkyjs-bindings CI check work
  buildkite/scripts/check-snarkyjs-bindings.sh
Owners: @MinaProtocol/infra-eng-reviewers

Expose snarky_ready as a library export
  src/lib/snarky_js_bindings/backend_bindings/node/node_backend.js
  src/lib/snarky_js_bindings/backend_bindings/test/nodejs/run_test.js
  src/lib/snarky_js_bindings/output/chrome/plonk_wasm.d.ts
  src/lib/snarky_js_bindings/output/chrome/plonk_wasm.js
  src/lib/snarky_js_bindings/output/chrome/plonk_wasm_bg.wasm
  src/lib/snarky_js_bindings/output/chrome/plonk_wasm_bg.wasm.d.ts
  src/lib/snarky_js_bindings/output/node/plonk_wasm.d.ts
  src/lib/snarky_js_bindings/output/node/plonk_wasm.js
  src/lib/snarky_js_bindings/output/node/plonk_wasm_bg.wasm
  src/lib/snarky_js_bindings/output/node/plonk_wasm_bg.wasm.d.ts
  src/lib/snarky_js_bindings/output/node/snarky_js_node.bc.runtime.js
Owners: @MinaProtocol/protocol-eng-reviewers

make permutation argument clearly correct
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Rebuild snarky_js_bindings outputs with a clean tree
  src/lib/snarky_js_bindings/output/chrome/plonk_wasm.d.ts
  src/lib/snarky_js_bindings/output/chrome/plonk_wasm.js
  src/lib/snarky_js_bindings/output/chrome/plonk_wasm_bg.wasm
  src/lib/snarky_js_bindings/output/chrome/plonk_wasm_bg.wasm.d.ts
  src/lib/snarky_js_bindings/output/node/plonk_wasm.d.ts
  src/lib/snarky_js_bindings/output/node/plonk_wasm.js
  src/lib/snarky_js_bindings/output/node/plonk_wasm_bg.wasm
  src/lib/snarky_js_bindings/output/node/plonk_wasm_bg.wasm.d.ts
Owners: @MinaProtocol/protocol-eng-reviewers

Change container image used to build SnarkyJS bindings
  buildkite/src/Command/CheckSnarkyJSBindings.dhall
Owners: @MinaProtocol/infra-eng-reviewers

add legacy module
  src/lib/random_oracle/random_oracle.ml
  src/lib/random_oracle/random_oracle.mli
Owners: @MinaProtocol/protocol-eng-reviewers

update hash prefix states and signature lib
  src/lib/hash_prefix_states/hash_prefix_states.ml
  src/lib/signature_lib/schnorr.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/crypto-eng-reviewers

Implements better suggested fee + test
  src/app/rosetta/lib/construction.ml
Owners: none

Construction Reformat
  src/app/rosetta/lib/construction.ml
Owners: none

Nits from PR
  src/app/rosetta/lib/construction.ml
Owners: none

make permutation argument clearly correct
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Resolve merge conflicts
  UNMERGED_FILES
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/app/cli/src/init/coda_run.ml
  src/app/cli/src/tests/coda_worker.ml
  src/lib/block_producer/block_producer.ml
  src/lib/child_processes/termination.ml
  src/lib/consensus/intf.ml
  src/lib/consensus/proof_of_stake.ml
  src/lib/consensus/vrf/consensus_vrf.ml
  src/lib/merkle_ledger/database.ml
  src/lib/merkle_ledger_tests/test_stubs.ml
  src/lib/merkle_mask/masking_merkle_tree.ml
  src/lib/mina_base/account.ml
  src/lib/mina_base/pending_coinbase.ml
  src/lib/mina_base/sparse_ledger.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_compile_config/mina_compile_config.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/mina_lib/config.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/mina_metrics/mina_metrics.ml
  src/lib/network_pool/intf.ml
  src/lib/network_pool/snark_pool.ml
  src/lib/network_pool/snark_pool_diff.ml
  src/lib/non_zero_curve_point/non_zero_curve_point.ml
  src/lib/rocksdb/database.ml
  src/lib/signature_lib/public_key.mli
  src/lib/sparse_ledger_lib/sparse_ledger.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transaction_consistency_tests/transaction_consistency_tests.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.mli
  src/lib/verifier/prod.ml
  src/lib/vrf_evaluator/vrf_evaluator.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/crypto-eng-reviewers

lk86/fix-conflicts-with-1.2.1 Fix automation conflicts for compatible pipelines
  buildkite/scripts/export-git-env-vars.sh
  buildkite/scripts/run-test-executive.sh
  scripts/archive/build-release-archives.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

fix success tests
  src/lib/ledger_catchup/super_catchup.ml
Owners: @MinaProtocol/protocol-eng-reviewers

superficial changes
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/lib/integration_test_lib/event_type.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

alter common prefix checking logic
  src/app/test_executive/reliability_test.ml
Owners: none

puppeteer script hack
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/lib/integration_test_cloud_engine/stack_driver_log_engine.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

remove short boot test altogether
  buildkite/src/Jobs/Test/TestnetIntegrationTests.dhall
  src/app/test_executive/short_bootstrap.ml
  src/app/test_executive/short_bootstrap.mli
  src/app/test_executive/test_executive.ml
Owners: @MinaProtocol/infra-eng-reviewers

log processing mesasges originating from puppeteer script
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/lib/integration_test_cloud_engine/stack_driver_log_engine.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

stubbed out node offline event
  src/app/test_executive/reliability_test.ml
  src/lib/integration_test_lib/event_type.ml
  src/lib/integration_test_lib/event_type.mli
  src/lib/integration_test_lib/network_state.ml
Owners: @MinaProtocol/protocol-eng-reviewers

doesnt work but doesnt fail
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/app/test_executive/reliability_test.ml
  src/lib/integration_test_cloud_engine/stack_driver_log_engine.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

put short bootstrap back into reliability test
  src/app/test_executive/reliability_test.ml
Owners: none

puppeteer script only emit node offline error
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
Owners: @MinaProtocol/infra-eng-reviewers

Modify how puppeteer script logs output from container
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
Owners: @MinaProtocol/infra-eng-reviewers

more printouts
  src/app/test_executive/reliability_test.ml
Owners: none

lk86/fix-conflicts-with-1.2.1 Move logic for appending network name into the release-docker.sh script
  buildkite/src/Command/DockerImage.dhall
  scripts/release-docker.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

fix python bug
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/app/test_executive/reliability_test.ml
Owners: @MinaProtocol/infra-eng-reviewers

Flush puppeteer log writes immediately
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
Owners: @MinaProtocol/infra-eng-reviewers

fix bad json in puppeteer
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/app/test_executive/reliability_test.ml
Owners: @MinaProtocol/infra-eng-reviewers

Fixes nonconsensus usage
  src/lib/rosetta_lib/user_command_info.ml
Owners: @MinaProtocol/protocol-eng-reviewers

more proper types for counters
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

change the format of catchup states
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

make node status system by default off
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
Owners: none

Upgrade snarky to support 'public outputs' for circuits
  src/lib/marlin_plonk_bindings/pasta_fp/vector/marlin_plonk_bindings_pasta_fp_vector.ml
  src/lib/marlin_plonk_bindings/pasta_fq/vector/marlin_plonk_bindings_pasta_fq_vector.ml
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_vector.rs
  src/lib/mina_base/signed_command_memo.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Review and improve decentralized checkpointing skeleton
  docs/specs/consensus/README.md
Owners: none

Remove outdated consensus error message
  src/lib/consensus/proof_of_stake.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Update README.md
  src/app/test_executive/README.md
Owners: none
