Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

Fix tests
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/lib/mina_net2/libp2p_helper.ml
  src/lib/mina_net2/tests/tests.ml
  src/libp2p_ipc/libp2p_ipc.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Address review comments
  src/lib/gossip_net/dune
  src/lib/gossip_net/libp2p.ml
  src/lib/mina_net2/libp2p_helper.ml
  src/lib/mina_net2/libp2p_stream.mli
  src/lib/mina_net2/mina_net2.mli
  src/lib/mina_net2/tests/all_ipc.ml
  src/lib/mina_net2/validation_callback.ml
  src/lib/mina_net2/validation_callback.mli
  src/lib/mina_transition/external_transition.ml
  src/lib/network_pool/network_pool_base.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix Daemon failing on wrong log output
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/lib/mina_net2/libp2p_helper.ml
  src/lib/mina_net2/libp2p_stream.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Update buster image, fix helper test
  buildkite/src/Constants/ContainerImages.dhall
  scripts/build-go-helper.sh
  src/app/libp2p_helper/src/libp2p_helper/upcall_test.go
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Handle pipe write failures in child_processes.ml
  src/lib/child_processes/child_processes.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[mina-version] fix
  src/lib/mina_version/gen.sh
Owners: @MinaProtocol/protocol-eng-reviewers

Use volatile reads/writes to perform cross-thread synchronous writes
  src/lib/marlin_plonk_bindings/wasm/src/lib.rs
Owners: @MinaProtocol/protocol-eng-reviewers

Address PR comments
  src/app/archive/create_schema.sql
  src/app/archive/drop_tables.sql
  src/app/archive/snapp_tables.sql
Owners: @MinaProtocol/product-eng-reviewers

alter common prefix checking logic
  src/app/test_executive/reliability_test.ml
Owners: none

Add block validation acceptance time metric
  src/lib/mina_metrics/mina_metrics.ml
  src/lib/mina_networking/mina_networking.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fix indentation
  src/app/archive/create_schema.sql
Owners: @MinaProtocol/product-eng-reviewers

add node_status_collection_backend
  src/app/node_status_collection_backend/go.mod
  src/app/node_status_collection_backend/go.sum
  src/app/node_status_collection_backend/src/constants.go
  src/app/node_status_collection_backend/src/data.go
  src/app/node_status_collection_backend/src/node_status_collection_backend/main.go
  src/app/node_status_collection_backend/src/submit.go
Owners: none

make all the intg tests use buster in bk
  buildkite/src/Command/TestExecutive.dhall
Owners: @MinaProtocol/infra-eng-reviewers

slightly different way of writing it
  buildkite/src/Command/TestExecutive.dhall
Owners: @MinaProtocol/infra-eng-reviewers

fixup! [proof-systems][stubs] implement proof of concept using ocaml-gen
  src/lib/marlin_plonk_bindings/stubs/Cargo.toml
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fp.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[proof-systems][stubs] implement proof of concept using ocaml-gen
  src/lib/marlin_plonk_bindings/stubs/Cargo.toml
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fp.rs
  src/lib/marlin_plonk_bindings/stubs/src/bin/ocaml_gen.rs
Owners: @MinaProtocol/protocol-eng-reviewers

lk86/rebuild-dockerfile-toolchain Make an initial change to trigger ci
  dockerfiles/Dockerfile-toolchain
Owners: @MinaProtocol/infra-eng-reviewers

lk86/rebuild-dockerfile-toolchain update mina-rosetta-build-deps dependency
  dockerfiles/Dockerfile-toolchain
Owners: @MinaProtocol/infra-eng-reviewers

lk86/rebuild-dockerfile-toolchain Update toolchain image sha
  buildkite/src/Constants/ContainerImages.dhall
Owners: @MinaProtocol/infra-eng-reviewers

lk86/rebuild-dockerfile-toolchain Edit something in scripts to trigger more of CI
  scripts/mina.service
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

lk86/rebuild-dockerfile-toolchain Restore mina.service to its prior form
  scripts/mina.service
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Fix occassional failing of upcall test
  src/app/libp2p_helper/src/libp2p_helper/upcall_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Add nix development setup script
  README-dev.md
  scripts/nix-setup.sh
  shell.nix
  src/external/ocaml-sodium/myocamlbuild.ml
  src/lib/mina_version/gen.sh
  src/lib/zexe_backend/zexe_backend_common/gen_version.sh
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/infra-eng-reviewers, @emberian, @bkase, @psteckler, @imeckler, @mrmr1993

Add scripts to quickly configure a remote ssh host
  README-dev.md
  scripts/setup-nix-remote.sh
  scripts/upload-nix-remote.sh
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/infra-eng-reviewers

Fixup: compute initial state before modifying ledger
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fixup: use a dummy signature for auth= None_given parties
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fixup: use the correct fee excess for transaction snark
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Generate a parties segment in group_by_parties_rev
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/transaction_snark/transaction_snark.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Add apply_parties helper for txn snark tests
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add Bitswap RFC
  rfcs/0042-bitswap.md
  rfcs/res/bitswap_architecture.conv.tex
  rfcs/res/bitswap_architecture.conv.tex.png
Owners: none

Re-describe block format (0042 Bitswap RFC)
  rfcs/0042-bitswap.md
Owners: none

Address RFC comments
  rfcs/0042-bitswap.md
Owners: none

Re-describe block format (0042 Bitswap RFC)
  rfcs/0042-bitswap.md
Owners: none

Completed specification of window density algorithms (needs peer review)
  docs/specs/consensus/README.md
Owners: none

Fixup: verify signatures against party pk instead of account's
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Removed some old sections and fixed link
  docs/specs/consensus/README.md
Owners: none

Fixed sections and added acknowledgements
  docs/specs/consensus/README.md
Owners: none

Spell check
  docs/specs/consensus/README.md
Owners: none

Var array for snapp_states
  src/app/archive/drop_tables.sql
  src/app/archive/snapp_tables.sql
Owners: @MinaProtocol/product-eng-reviewers

fix merge
  src/lib/mina_net2/mina_net2.ml
Owners: @MinaProtocol/protocol-eng-reviewers
