Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

Rosetta release explaining construction features
  src/app/rosetta/README.md
Owners: none

code cleanup
  buildkite/src/Jobs/Test/TestnetIntegrationTests.dhall
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/app/test_executive/reliability_test.ml
  src/lib/integration_test_cloud_engine/stack_driver_log_engine.ml
  src/lib/integration_test_lib/event_type.ml
  src/lib/integration_test_lib/network_state.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

rosetta-readme Add rosetta-999 config to facilitate more thorough testing
  src/app/rosetta/rosetta-999.conf
Owners: none

rosetta-readme Update readme to cover everything we need for rosetta-v4
  src/app/rosetta/README.md
Owners: none

WIP
  frontend/client_sdk/src/MinaSDK.re
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

Split Async/Core dependent part of o1trace out, allow runtime selection
  src/app/cli/src/init/coda_tracing.ml
  src/app/cli/src/init/dune
  src/config/debug_level/all.mlh
  src/config/debug_level/none.mlh
  src/config/debug_level/some.mlh
  src/lib/o1trace/dune
  src/lib/o1trace/intf.ml
  src/lib/o1trace/o1trace.ml
  src/lib/o1trace/o1trace.mli
  src/lib/o1trace/webkit_event/dune
  src/lib/o1trace/webkit_event/o1trace_webkit_event.ml
  src/lib/o1trace/webkit_event/o1trace_webkit_event.mli
  src/o1trace_webkit_event.opam
Owners: @MinaProtocol/protocol-eng-reviewers

Default to a non-native key cache implementation, remove async/core deps
  src/lib/genesis_ledger_helper/lib/dune
  src/lib/genesis_ledger_helper/lib/genesis_ledger_helper_lib.ml
  src/lib/key_cache/async/dune
  src/lib/key_cache/async/key_cache_async.ml
  src/lib/key_cache/async/key_cache_async.mli
  src/lib/key_cache/dune
  src/lib/key_cache/key_cache.ml
  src/lib/key_cache/key_cache.mli
  src/lib/key_cache/native/dune
  src/lib/key_cache/native/key_cache_native.ml
  src/lib/key_cache/sync/dune
  src/lib/key_cache/sync/key_cache_sync.ml
  src/lib/key_cache/sync/key_cache_sync.mli
Owners: @MinaProtocol/protocol-eng-reviewers

WIP2
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

WIP3
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

WIP4, snapp_update compiles
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

Split Async/Core dependent parts of Logger out
  src/app/best_tip_merger/best_tip_merger.ml
  src/app/best_tip_merger/dune
  src/app/cli/src/cli_entrypoint/dune
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/lib/consensus/dune
  src/lib/consensus/proof_of_stake_fuzzer.ml
  src/lib/logger/file_system/dune
  src/lib/logger/file_system/logger_file_system.ml
  src/lib/logger/file_system/logger_file_system.mli
  src/lib/logger/impl.ml
  src/lib/logger/impl.mli
  src/lib/logger/test/dune
  src/lib/logger/test/logger_test.ml
  src/lib/memory_stats/memory_stats.ml
  src/lib/prover/dune
  src/lib/prover/prover.ml
  src/lib/verifier/dune
  src/lib/verifier/prod.ml
Owners: @MinaProtocol/protocol-eng-reviewers

exe to create snapp txn
  src/app/trivial_snapp_txn_gen/dune
  src/app/trivial_snapp_txn_gen/trivial_snapp_txn_gen.ml
  src/trivial_snapp_txn_gen.opam
Owners: none

Work in progress on decentralized checkpointing
  docs/specs/consensus/README.md
Owners: none

Mina_graphql builds
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

Ready to PR graphql changes
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

WIP on client-sdk part
  frontend/client_sdk/src/MinaSDK.re
  frontend/client_sdk/src/TSTypes.d.ts
  frontend/client_sdk/src/TSTypes.ts
Owners: @MinaProtocol/product-eng-reviewers

Undo changes to client-sdk
  frontend/client_sdk/src/MinaSDK.re
Owners: @MinaProtocol/product-eng-reviewers

Finished draft of client-sdk interface for snapps
  frontend/client_sdk/src/MinaSDK.re
Owners: @MinaProtocol/product-eng-reviewers

Add an interface to Mina_metrics
  src/lib/mina_metrics/mina_metrics.ml
  src/lib/mina_metrics/mina_metrics.mli
  src/lib/zexe_backend/zexe_backend_common/dune
Owners: @MinaProtocol/protocol-eng-reviewers

fix graphql schema and nonconsensus build
  graphql_schema.json
  src/lib/mina_base/signed_command_memo.ml
  src/lib/mina_base/signed_command_memo.mli
Owners: @MinaProtocol/protocol-eng-reviewers

refactor parse_event_from_log_entry
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/lib/integration_test_cloud_engine/stack_driver_log_engine.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

remove node from best tips map when node goes offline
  src/lib/integration_test_lib/network_state.ml
Owners: @MinaProtocol/protocol-eng-reviewers

log plain for the json emitions
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/lib/integration_test_cloud_engine/stack_driver_log_engine.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

separate type for fee payer party
  graphql_schema.json
  src/lib/mina_base/parties.ml
  src/lib/mina_base/party.ml
  src/lib/mina_base/snapp_generators.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_base/user_command.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/network_pool/indexed_pool.ml
  src/lib/staged_ledger/diff_creation_log.ml
  src/lib/staged_ledger/pre_diff_info.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/staged_ledger_diff/staged_ledger_diff.ml
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/verifier/common.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

downgrade log
  src/lib/integration_test_cloud_engine/stack_driver_log_engine.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[kimchi][bindings] update for lookup types
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/plonk_verifier_index.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[kimchi][bindings] remove CamlPointer and introduce Arc and RwLock types
  src/lib/crypto/kimchi_bindings/stubs/Cargo.toml
  src/lib/crypto/kimchi_bindings/stubs/README.md
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/src/main.rs
  src/lib/crypto/kimchi_bindings/stubs/src/caml/mod.rs
  src/lib/crypto/kimchi_bindings/stubs/src/caml/shared_reference.rs
  src/lib/crypto/kimchi_bindings/stubs/src/caml/shared_rwlock.rs
  src/lib/crypto/kimchi_bindings/stubs/src/caml_pointer.rs
  src/lib/crypto/kimchi_bindings/stubs/src/field_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/lib.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/srs.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[kimchi][bindings] update ocaml-gen macro names
  src/lib/crypto/kimchi_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/crypto/kimchi_bindings/stubs/src/arkworks/group_affine.rs
  src/lib/crypto/kimchi_bindings/stubs/src/arkworks/group_projective.rs
  src/lib/crypto/kimchi_bindings/stubs/src/arkworks/pasta_fp.rs
  src/lib/crypto/kimchi_bindings/stubs/src/arkworks/pasta_fq.rs
  src/lib/crypto/kimchi_bindings/stubs/src/gate_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/oracles.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_pallas.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_vesta.rs
  src/lib/crypto/kimchi_bindings/stubs/src/plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/srs.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings] updating ocaml-gen names
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fp.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[kimchi][bindings] remove code duplication for oracle bindings
  src/lib/crypto/kimchi_bindings/stubs/README.md
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/src/main.rs
  src/lib/crypto/kimchi_bindings/stubs/src/field_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/lib.rs
  src/lib/crypto/kimchi_bindings/stubs/src/oracles.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_oracles.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[kimchi][bindings] remove code duplication for pasta/vesta
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/src/main.rs
  src/lib/crypto/kimchi_bindings/stubs/src/field_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/lib.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_pallas.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_vesta.rs
  src/lib/crypto/kimchi_bindings/stubs/src/projective.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi][bindings] update bindings to avoid name collision
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/src/main.rs
Owners: @MinaProtocol/protocol-eng-reviewers

new generic update
  helm/generic-node/.helmignore
  helm/generic-node/CHANGELOG.md
  helm/generic-node/Chart.lock
  helm/generic-node/Chart.yaml
  helm/generic-node/Makefile
  helm/generic-node/README.md
  helm/generic-node/charts/common-utilities-0.0.9.tgz
  helm/generic-node/out
  helm/generic-node/templates/_healthchecks.tpl
  helm/generic-node/templates/plain-node-service.yaml
  helm/generic-node/templates/plain-node.yaml
  helm/generic-node/values.yml
  helm/plain-node/CHANGELOG.md
Owners: none

new generic update
  helm/generic-node/values.yml
Owners: none

new generic update
  helm/generic-node/values.yml
Owners: none

Add virtual modules for Mina_metrics
  src/lib/mina_metrics/dune
  src/lib/mina_metrics/mina_metrics.mli
  src/lib/mina_metrics/no_metrics/dune
  src/lib/mina_metrics/no_metrics/mina_metrics.ml
  src/lib/mina_metrics/prometheus_metrics/dune
  src/lib/mina_metrics/prometheus_metrics/metric_generators.ml
  src/lib/mina_metrics/prometheus_metrics/mina_metrics.ml
  src/lib/mina_metrics/prometheus_metrics/namespace.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove non-js dependency from Logger
  src/lib/logger/dune
  src/lib/logger/impl.ml
  src/lib/logger/impl.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Add test for JS compilation of Mina_metrics (with mina_metrics.none)
  src/lib/mina_metrics/js_test/dune
  src/lib/mina_metrics/js_test/mina_metrics_js_test.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add Run_in_thread virtual helper module
  src/lib/zexe_backend/run_in_thread/dune
  src/lib/zexe_backend/run_in_thread/fake/dune
  src/lib/zexe_backend/run_in_thread/fake/run_in_thread.ml
  src/lib/zexe_backend/run_in_thread/native/dune
  src/lib/zexe_backend/run_in_thread/native/run_in_thread.ml
  src/lib/zexe_backend/run_in_thread/run_in_thread.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Fixup compilation errors in Zexe_backend
  src/lib/cli_lib/stdout_log.ml
  src/lib/consensus/vrf/dune
  src/lib/mina_graphql/dune
  src/lib/zexe_backend/pasta/pallas_based_plonk.ml
  src/lib/zexe_backend/pasta/vesta_based_plonk.ml
  src/lib/zexe_backend/zexe_backend_common/bigint.ml
  src/lib/zexe_backend/zexe_backend_common/dune
  src/lib/zexe_backend/zexe_backend_common/field.ml
  src/lib/zexe_backend/zexe_backend_common/plonk_constraint_system.ml
  src/lib/zexe_backend/zexe_backend_common/plonk_dlog_proof.ml
  src/lib/zexe_backend/zexe_backend_common/var.ml
Owners: @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers
