Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

Move Core as a dependency for Linked_tree
  src/lib/linked_tree/dune
  src/lib/linked_tree/linked_tree.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Trust_system
  src/lib/trust_system/dune
Owners: @MinaProtocol/protocol-eng-reviewers

add noops for non-consensus metrics
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/lib/mina_metrics/mina_metrics.mli
  src/lib/mina_metrics/no_metrics/mina_metrics.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Trying to setup bannet
  automation/scripts/generate-keys-and-ledger.sh
  automation/terraform/testnets/georgeee-5/community_fast_unlock.accounts.json
  automation/terraform/testnets/georgeee-5/fish.accounts.json
  automation/terraform/testnets/georgeee-5/genesis_ledger.json
  automation/terraform/testnets/georgeee-5/main.tf
  automation/terraform/testnets/georgeee-5/whales.accounts.json
Owners: none

Reformat
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
Owners: none

Be more explicit about types
  docs/specs/consensus/README.md
Owners: none

Fixed formatting
  src/lib/consensus/proof_of_stake.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fixed formatting
  src/lib/consensus/proof_of_stake.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Generate rust hash_prefix_states
  src/lib/hash_prefix_states/rust_output/dune
  src/lib/hash_prefix_states/rust_output/gen_rust_states.ml
  src/lib/random_oracle/random_oracle.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Completed checkpointing sections
  docs/specs/consensus/README.md
Owners: none

gossip qa ledger
  genesis_ledgers/devnet.json
Owners: none

trigger ci for genesis ledgers
  buildkite/src/Command/MinaArtifact.dhall
Owners: @MinaProtocol/infra-eng-reviewers

post-merge cleanup
  src/lib/mina_base/snapp_generators.ml
  src/lib/network_pool/mocks.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Omit max-fee from con-preprocess if default
  src/app/rosetta/README.md
  src/app/rosetta/test-curl/con_preprocess.sh
  src/lib/rosetta_models/construction_preprocess_request.ml
Owners: @MinaProtocol/protocol-eng-reviewers

MINA, Rosetta, publicKey
  graphql_schema.json
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

Create a virtual module for Mina_version
  src/lib/mina_version/dummy/dune
  src/lib/mina_version/dummy/mina_version.ml
  src/lib/mina_version/dune
  src/lib/mina_version/normal/dune
  src/lib/mina_version/normal/gen.sh
Owners: @MinaProtocol/protocol-eng-reviewers

Accounts graphql null if no account exist
  src/app/rosetta/lib/construction.ml
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

Take full account in account query
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

libp2pPort fix
  graphql_schema.json
  src/app/cli/src/init/client.ml
  src/app/cli/src/init/graphql_queries.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Update GraphQL schema
  graphql_schema.json
Owners: none

lk86/fix-generate-keypair-docker Make mina-generate-keypair a first-class docker citizen and make the default deb_release stable now that there exists a stabel build in this repository
  dockerfiles/Dockerfile-genkey
  dockerfiles/Dockerfile-mina-archive
  dockerfiles/Dockerfile-mina-daemon
  dockerfiles/Dockerfile-mina-generate-keypair
  scripts/release-docker.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

lk86/fix-generate-keypair-docker Remove unneeded docker context specification
  scripts/release-docker.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Attempts to fix all the graphql mishaps
  src/app/cli/src/init/client.ml
  src/app/cli/src/init/graphql_queries.ml
Owners: @MinaProtocol/protocol-eng-reviewers

rm broken snapp test
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

new timestamp
  genesis_ledgers/devnet.json
Owners: none

Reformat
  src/lib/mina_version/dummy/mina_version.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Adds release notes for the construction fixes
  src/app/rosetta/README.md
Owners: none

transaction-snark test
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi][backend] update backend to make kimchi work
  src/lib/crypto/README.md
  src/lib/crypto/kimchi_backend/common/bigint.ml
  src/lib/crypto/kimchi_backend/common/constants.ml
  src/lib/crypto/kimchi_backend/common/curve.ml
  src/lib/crypto/kimchi_backend/common/dlog_plonk_based_keypair._ml
  src/lib/crypto/kimchi_backend/common/dlog_plonk_based_keypair.ml
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system.ml
  src/lib/crypto/kimchi_backend/common/plonk_dlog_proof.ml
  src/lib/crypto/kimchi_backend/common/poly_comm.ml
  src/lib/crypto/kimchi_backend/common/scale_round.ml
  src/lib/crypto/kimchi_backend/pasta/basic.ml
  src/lib/crypto/kimchi_backend/pasta/pallas_based_plonk.ml
  src/lib/crypto/kimchi_backend/pasta/precomputed.ml
  src/lib/crypto/kimchi_backend/pasta/vesta_based_plonk.ml
  src/lib/crypto/kimchi_bindings/stubs/src/gate_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi] add test
  src/lib/crypto/kimchi_backend/tests.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi] bump rust version (1.56) and edition (2021)
  src/lib/crypto/kimchi_bindings/stubs/Cargo.toml
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/Cargo.toml
  src/lib/crypto/kimchi_bindings/stubs/rust-toolchain.toml
Owners: @MinaProtocol/protocol-eng-reviewers

Base58Check for verification keys
  src/lib/base58_check/version_bytes.ml
  src/lib/pickles/dune
  src/lib/pickles/side_loaded_verification_key.ml
Owners: @MinaProtocol/protocol-eng-reviewers

gossip data configurations
  automation/scripts/generate-keys-and-ledger.sh
  automation/terraform/modules/o1-testnet/locals.tf
  automation/terraform/modules/o1-testnet/testnet.tf
  automation/terraform/testnets/gossip-data/bots.accounts.json
  automation/terraform/testnets/gossip-data/community_fast_unlock.accounts.json
  automation/terraform/testnets/gossip-data/fish.accounts.json
  automation/terraform/testnets/gossip-data/genesis_ledger.json
  automation/terraform/testnets/gossip-data/gossip-data_seeds.txt
  automation/terraform/testnets/gossip-data/main.tf
  automation/terraform/testnets/gossip-data/whales.accounts.json
  helm/block-producer/templates/block-producer.yaml
  helm/cron_jobs/gossip-data-txn-burst-cronjob.yaml
  helm/plain-node/templates/plain-node.yaml
  helm/snark-worker/templates/snark-coordinator.yaml
Owners: none

Log time for verify_and_apply
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

trying to launch bannet
  automation/terraform/modules/o1-testnet/testnet.tf
  automation/terraform/testnets/georgeee-5/community_fast_unlock.accounts.json
  automation/terraform/testnets/georgeee-5/fish.accounts.json
  automation/terraform/testnets/georgeee-5/genesis_ledger.json
  automation/terraform/testnets/georgeee-5/main.tf
  automation/terraform/testnets/georgeee-5/terraform-test-georgeee-5.tfstate
  automation/terraform/testnets/georgeee-5/whales.accounts.json
Owners: none

make hex big endian, as is the convention
  src/lib/hex/hex.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update hex in zexe backend
  src/lib/zexe_backend/zexe_backend_common/bigint.ml
Owners: @MinaProtocol/protocol-eng-reviewers

add new kind of shifted value
  src/lib/pickles_types/shifted_value.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update evals and proof type
  src/lib/pickles_types/dlog_plonk_types.ml
Owners: @MinaProtocol/protocol-eng-reviewers

code for new scaling and add
  src/lib/pickles/plonk_curve_ops.ml
Owners: @MinaProtocol/protocol-eng-reviewers
