Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

generalize counter
  src/app/delegation_backend/src/go.mod
  src/app/delegation_backend/src/submit.go
  src/app/node_status_collection_backend/src/go.mod
  src/app/node_status_collection_backend/src/submit.go
  src/backend_utilities/counter/go.mod
  src/backend_utilities/counter/time_heap.go
  src/backend_utilities/counter/time_heap_test.go
  src/backend_utilities/misc/go.mod
  src/backend_utilities/misc/go.sum
  src/backend_utilities/misc/misc.go
Owners: none

tidy up the go.mod
  src/app/delegation_backend/src/go.mod
  src/app/delegation_backend/src/go.sum
  src/backend_utilities/misc/go.mod
Owners: none

add the skeleton of node status service
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/lib/mina_lib/config.ml
  src/lib/mina_lib/dune
  src/lib/mina_lib/mina_lib.ml
  src/lib/node_status_service/dune
  src/lib/node_status_service/node_status_service.ml
  src/lib/rfc3339_time/dune
  src/lib/rfc3339_time/rfc3339_time.ml
  src/node_status_service.opam
  src/rfc3339_time.opam
Owners: @MinaProtocol/protocol-eng-reviewers

add catchup job states
  src/lib/mina_lib/mina_lib.ml
  src/lib/node_status_service/dune
  src/lib/node_status_service/node_status_service.ml
  src/lib/transition_frontier/full_catchup_tree.ml
Owners: @MinaProtocol/protocol-eng-reviewers

add sync status
  src/lib/consensus/proof_of_stake.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/node_status_service/dune
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

add libp2p bandwidth info
  src/app/libp2p_helper/src/generate_methodidx/main.go
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/app/libp2p_helper/src/libp2p_helper/methodidx_jsonenum.go
  src/lib/gossip_net/any.ml
  src/lib/gossip_net/fake.ml
  src/lib/gossip_net/intf.ml
  src/lib/gossip_net/libp2p.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/mina_net2/mina_net2.ml
  src/lib/mina_net2/mina_net2.mli
  src/lib/mina_networking/mina_networking.ml
  src/lib/mina_networking/mina_networking.mli
  src/lib/node_status_service/dune
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

adding cpu usage
  src/app/libp2p_helper/src/go.mod
  src/app/libp2p_helper/src/go.sum
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/lib/gossip_net/intf.ml
  src/lib/mina_net2/mina_net2.ml
  src/lib/mina_net2/mina_net2.mli
  src/lib/mina_networking/mina_networking.mli
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

adding peer_id, ip_address, commit_hash, branch, timestamp, uptime and peer_count
  src/lib/mina_lib/mina_lib.ml
  src/lib/mina_version/gen.sh
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

mina modifications
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

connecting things together
  .gitmodules
  WORKSPACE.bazel
  dockerfiles/Dockerfile-deb-builder
  dockerfiles/Dockerfile-rosetta
  dockerfiles/Dockerfile-rosetta-hardcoded
  scripts/setup-opam.sh
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

adding prometheus
  .gitmodules
Owners: none

using a separate gauge for all the rpcs
  src/lib/gossip_net/libp2p.ml
  src/lib/mina_base/rpc_intf.ml
  src/lib/mina_metrics/mina_metrics.ml
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

reset gauges every 5 slots
  src/lib/mina_lib/mina_lib.ml
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fix the typo
  src/lib/mina_version/gen.sh
Owners: @MinaProtocol/protocol-eng-reviewers

adding pubsub msgs metrics
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/mina_metrics/mina_metrics.ml
  src/lib/mina_networking/mina_networking.ml
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

adding blocks received
  src/lib/node_status_service/dune
  src/lib/node_status_service/node_status_service.ml
  src/lib/transition_frontier/transition_frontier.ml
  src/lib/transition_frontier/transition_frontier.mli
  src/lib/transition_router/initial_validator.ml
Owners: @MinaProtocol/protocol-eng-reviewers

undo censensus changes
  src/lib/consensus/proof_of_stake.ml
Owners: @MinaProtocol/protocol-eng-reviewers

more proper types for counters
  src/lib/mina_lib/mina_lib.ml
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

change the format of catchup states
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

make node-status-system by default off
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
Owners: none

mocking framework set up, 2 tests fail
  src/lib/bootstrap_controller/bootstrap_controller.ml
  src/lib/fake_network/fake_network.ml
  src/lib/fake_network/fake_network.mli
  src/lib/ledger_catchup/normal_catchup.ml
  src/lib/ledger_catchup/super_catchup.ml
  src/lib/transition_frontier/transition_frontier.ml
  src/lib/transition_frontier/transition_frontier.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Add logging
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Unmarked in-review, updated a few inaccuracies, added some references
  docs/specs/consensus/README.md
Owners: none

fix keypair conflict resolution
  src/lib/secrets/keypair_common.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove unused field
  src/lib/mina_base/parties_logic.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

address comments from matthew and deepthi
  rfcs/0043-node-error-collection.md
Owners: none

change the .gitmodules to use https://
  .gitmodules
Owners: none

trying to make the pipe work in the unit tests
  src/lib/ledger_catchup/super_catchup.ml
Owners: @MinaProtocol/protocol-eng-reviewers

client sdk dependencies
  src/app/client_sdk/dune
Owners: none

snapp transaction inclusion status
  src/lib/filtered_external_transition/filtered_external_transition.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_base/user_command.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/transaction_inclusion_status/transaction_inclusion_status.ml
  src/lib/transaction_inclusion_status/transaction_inclusion_status.mli
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

Correct fold direction
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Generate empty target commitments when there will be no more parties
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Use apply_parties for tests
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Split out parties_witnesses
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Modify the amounts in Transaction_logic generator to meet creation fee
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Accept multiple parties to parties_witnesses
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Allow passing an explicit fee excess to compute parties txn witnesses
  src/lib/mina_base/sparse_ledger.ml
  src/lib/mina_base/sparse_ledger.mli
  src/lib/mina_base/transaction_logic.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add test for applying multiple parties transactions consecutively
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add a doc-comment for parties_witnesses
  src/lib/transaction_snark/transaction_snark.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Account creation fee for coinbases
  src/app/archive/archive_lib/processor.ml
  src/app/cli/src/init/client.ml
Owners: @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers
