Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

update case
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

unit tests
  src/lib/staged_ledger/staged_ledger.ml
Owners: @MinaProtocol/protocol-eng-reviewers

timing
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fix compilation
  src/lib/staged_ledger/staged_ledger.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Batch snark pool ledger db interactions
  src/external/ocaml-rocksdb/rocks.ml
  src/external/ocaml-rocksdb/rocks_intf.ml
  src/external/ocaml-rocksdb/rocks_options.ml
  src/lib/key_value_database/key_value_database.ml
  src/lib/merkle_ledger/any_ledger.ml
  src/lib/merkle_ledger/base_ledger_intf.ml
  src/lib/merkle_ledger/database.ml
  src/lib/merkle_ledger/null_ledger.ml
  src/lib/merkle_mask/masking_merkle_tree.ml
  src/lib/network_pool/intf.ml
  src/lib/network_pool/mocks.ml
  src/lib/network_pool/snark_pool.ml
  src/lib/rocksdb/database.ml
  src/lib/rocksdb/serializable.ml
Owners: @emberian, @bkase, @psteckler, @imeckler, @mrmr1993, @MinaProtocol/protocol-eng-reviewers

Breakup staged ledger application async jobs
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Some small tracing modifications
  src/app/cli/src/init/coda_run.ml
  src/lib/verifier/prod.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix snark pool race condition
  src/lib/network_pool/intf.ml
  src/lib/network_pool/snark_pool.ml
  src/lib/network_pool/snark_pool_diff.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix unit tests
  src/lib/merkle_ledger_tests/test_stubs.ml
  src/lib/network_pool/snark_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Address PR review
  src/lib/network_pool/snark_pool.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix GC bug
  src/external/ocaml-rocksdb/rocks.ml
  src/external/ocaml-rocksdb/rocks_common.ml
Owners: @emberian, @bkase, @psteckler, @imeckler, @mrmr1993

Bump o1trace buffer size; catch exception
  src/lib/o1trace/o1trace.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Address more PR review comments
  src/lib/network_pool/snark_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Refactor
  src/lib/network_pool/snark_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix rocks multi_get bug
  src/external/ocaml-rocksdb/rocks.ml
  src/lib/rocksdb/database.ml
Owners: @emberian, @bkase, @psteckler, @imeckler, @mrmr1993, @MinaProtocol/protocol-eng-reviewers

reformat
  src/lib/rocksdb/database.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Escape json strings in trace-tool (dumb version)
  src/app/trace-tool/src/main.rs
Owners: @MinaProtocol/protocol-eng-reviewers

reformat and fix rebase
  src/app/cli/src/init/coda_run.ml
  src/lib/merkle_ledger/database.ml
  src/lib/merkle_ledger_tests/test_stubs.ml
  src/lib/merkle_mask/masking_merkle_tree.ml
  src/lib/network_pool/intf.ml
  src/lib/network_pool/snark_pool.ml
  src/lib/network_pool/snark_pool_diff.ml
  src/lib/rocksdb/database.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.mli
  src/lib/verifier/prod.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Revert special JSON encodings for GraphQL
  src/lib/pickles/composition_types/index.ml
  src/lib/pickles/limb_vector/constant.ml
Owners: @MinaProtocol/protocol-eng-reviewers

don't raise on unexpected staged ledger errors
  src/lib/block_producer/block_producer.ml
  src/lib/transition_frontier/frontier_base/breadcrumb.ml
Owners: @MinaProtocol/protocol-eng-reviewers

don't raise on unexpected staged ledger errors
  src/lib/block_producer/block_producer.ml
  src/lib/transition_frontier/frontier_base/breadcrumb.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Work (in progress) on defining minimum window densities
  docs/specs/consensus/README.md
Owners: none

Added new Github Issue templates and removed the old ones that were not being used
  .github/ISSUE_TEMPLATE/1-BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/2-DOCUMENTATION.yml
  .github/ISSUE_TEMPLATE/3-TEST_REPORT.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATES/bug_report.md
  .github/ISSUE_TEMPLATES/feature_request.md
  .github/ISSUE_TEMPLATES/help.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

add libp2p bandwidth info
  src/app/libp2p_helper/src/generate_methodidx/main.go
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/app/libp2p_helper/src/libp2p_helper/methodidx_jsonenum.go
  src/lib/gossip_net/any.ml
  src/lib/gossip_net/fake.ml
  src/lib/gossip_net/intf.ml
  src/lib/gossip_net/libp2p.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/mina_net2/mina_net2.ml
  src/lib/mina_net2/mina_net2.mli
  src/lib/mina_networking/mina_networking.ml
  src/lib/mina_networking/mina_networking.mli
  src/lib/node_status_service/dune
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

camelCase args
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

Update graphQL schema
  graphql_schema.json
Owners: none

Allow uptime submitter keyfile
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
Owners: none

update case
  src/lib/block_producer/block_producer.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transition_frontier/frontier_base/breadcrumb.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Revert "Merge pull request #9220 from MinaProtocol/fix/vrf-evaluation-subprocess-2"
  src/config/debug.mlh
  src/config/dev.mlh
  src/config/dev_medium_curves.mlh
  src/config/dev_snark.mlh
  src/config/devnet.mlh
  src/config/fake_hash.mlh
  src/config/fuzz_medium.mlh
  src/config/fuzz_small.mlh
  src/config/mainnet.mlh
  src/config/nonconsensus_medium_curves.mlh
  src/config/print_versioned_types.mlh
  src/config/test_archive_processor.mlh
  src/config/test_postake.mlh
  src/config/test_postake_catchup.mlh
  src/config/test_postake_five_even_txns.mlh
  src/config/test_postake_full_epoch.mlh
  src/config/test_postake_snarkless.mlh
  src/config/test_postake_snarkless_medium_curves.mlh
  src/config/test_postake_split.mlh
  src/config/test_postake_split_medium_curves.mlh
  src/config/test_postake_three_producers.mlh
  src/config/testnet_postake.mlh
  src/config/testnet_postake_many_producers.mlh
  src/config/testnet_postake_many_producers_medium_curves.mlh
  src/config/testnet_postake_medium_curves.mlh
  src/config/testnet_postake_snarkless.mlh
  src/config/testnet_postake_snarkless_fake_hash.mlh
  src/config/testnet_public.mlh
  src/lib/block_producer/block_producer.ml
  src/lib/consensus/intf.ml
  src/lib/consensus/proof_of_stake.ml
  src/lib/mina_compile_config/mina_compile_config.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/vrf_evaluator/vrf_evaluator.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

update case
  src/lib/block_producer/block_producer.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transition_frontier/frontier_base/breadcrumb.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Addressed PR review: fixed misspelled words and reworded some sentences
  .github/ISSUE_TEMPLATE/1-BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/2-DOCUMENTATION.yml
  .github/ISSUE_TEMPLATE/3-TEST_REPORT.yml
Owners: none

Remove curr_global_slot from Snapp_predicate.Protocol_state
  src/lib/mina_base/parties.ml
  src/lib/mina_base/snapp_predicate.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_state/protocol_state.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

rename fun argument
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Update doc for validUntil
  graphql_schema.json
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

rename more uses of current_global_slot to global_slot_since_genesis
  src/lib/network_pool/indexed_pool.ml
  src/lib/network_pool/indexed_pool.mli
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add transaction consistency tests
  src/lib/mina_base/sparse_ledger.mli
Owners: @MinaProtocol/protocol-eng-reviewers

reduce the restart interval
  src/lib/mina_lib/mina_lib.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update
  src/lib/transaction_consistency_tests/transaction_consistency_tests.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings] fix README
  src/lib/marlin_plonk_bindings/stubs/README.md
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings][stubs] cleaning
  src/lib/marlin_plonk_bindings/stubs/src/caml_pointer.rs
  src/lib/marlin_plonk_bindings/stubs/src/index_serialization.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/urs_utils.rs
Owners: @MinaProtocol/protocol-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers
