Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

Optimize /network/status
  src/app/rosetta/lib/network.ml
Owners: none

Remove debug logs
  src/app/rosetta/lib/network.ml
Owners: none

adding pubsub msgs metrics
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/mina_metrics/mina_metrics.ml
  src/lib/mina_networking/mina_networking.ml
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

adding blocks received
  src/lib/node_status_service/dune
  src/lib/node_status_service/node_status_service.ml
  src/lib/transition_frontier/transition_frontier.ml
  src/lib/transition_frontier/transition_frontier.mli
  src/lib/transition_router/initial_validator.ml
Owners: @MinaProtocol/protocol-eng-reviewers

test devnet ledger
  genesis_ledgers/devnet.json
Owners: none

automation changes + devnet test config
  automation/scripts/generate-keys-and-ledger.sh
  automation/terraform/testnets/devnet-test/bots.accounts.json
  automation/terraform/testnets/devnet-test/community_fast_unlock.accounts.json
  automation/terraform/testnets/devnet-test/fish.accounts.json
  automation/terraform/testnets/devnet-test/genesis_ledger.json
  automation/terraform/testnets/devnet-test/main.tf
  automation/terraform/testnets/devnet-test/whales.accounts.json
Owners: none

test devnet ledger
  genesis_ledgers/devnet.json
Owners: none

update main.tf
  automation/scripts/auto-deploy.sh
  automation/terraform/testnets/devnet-test/main.tf
Owners: none

genesis timestamp
  genesis_ledgers/devnet.json
Owners: none

Use masks for applying changes to the global ledger in parties logic
  src/lib/mina_base/ledger.ml
  src/lib/mina_base/parties_logic.ml
  src/lib/mina_base/sparse_ledger.ml
  src/lib/mina_base/sparse_ledger.mli
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_base/transaction_validator.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Quickcheck generators for Snapps
  src/lib/mina_base/control.ml
  src/lib/mina_base/ledger.ml
  src/lib/mina_base/ledger.mli
  src/lib/mina_base/parties.ml
  src/lib/mina_base/party.ml
  src/lib/mina_base/permissions.ml
  src/lib/mina_base/permissions.mli
  src/lib/mina_base/snapp_basic.ml
  src/lib/mina_base/snapp_predicate.ml
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

remove commented-out code
  src/lib/mina_base/parties.ml
Owners: @MinaProtocol/protocol-eng-reviewers

updated timestamp
  genesis_ledgers/devnet.json
Owners: none

devnet tf config
  automation/terraform/modules/o1-testnet/testnet.tf
  automation/terraform/modules/services/daemon/templates/container-definition.json.tpl
  automation/terraform/modules/services/faucet/templates/container-definition.json.tpl
  automation/terraform/modules/services/graphql-proxy/templates/container-definition.json.tpl
  automation/terraform/testnets/devnet-test/genesis_ledger.json
  automation/terraform/testnets/devnet/bots.accounts.json
  automation/terraform/testnets/devnet/community_fast_unlock.accounts.json
  automation/terraform/testnets/devnet/devnet_seeds.txt
  automation/terraform/testnets/devnet/fish.accounts.json
  automation/terraform/testnets/devnet/genesis_ledger.json
  automation/terraform/testnets/devnet/main.tf
  automation/terraform/testnets/devnet/whales.accounts.json
  helm/archive-node/templates/archive.yaml
  helm/block-producer/templates/_healthchecks.tpl
  helm/block-producer/templates/block-producer.yaml
  helm/common/templates/_healthchecks.tpl
  helm/plain-node/templates/_healthchecks.tpl
  helm/plain-node/templates/plain-node.yaml
  helm/seed-node/templates/_healthchecks.tpl
  helm/seed-node/templates/seed-node.yaml
  helm/snark-worker/templates/_healthchecks.tpl
  helm/snark-worker/templates/snark-coordinator.yaml
Owners: none

updated timestamp
  genesis_ledgers/devnet.json
Owners: none

[proof-systems][stubs] implement proof of concept using ocaml-gen
  src/lib/marlin_plonk_bindings/stubs/Cargo.toml
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fp.rs
  src/lib/marlin_plonk_bindings/stubs/src/bin/ocaml_gen.rs
Owners: @MinaProtocol/protocol-eng-reviewers

fixup! [proof-systems][stubs] implement proof of concept using ocaml-gen
  src/lib/marlin_plonk_bindings/stubs/Cargo.toml
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fp.rs
Owners: @MinaProtocol/protocol-eng-reviewers

remove unwanted docker files
  dockerfiles/Dockerfile-deb-builder
  dockerfiles/Dockerfile-rosetta
  dockerfiles/Dockerfile-rosetta-hardcoded
Owners: @MinaProtocol/infra-eng-reviewers

undo censensus changes
  src/lib/consensus/proof_of_stake.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Allow parties transactions to fail, charge the fee immediately
  src/lib/mina_base/ledger.ml
  src/lib/mina_base/parties_logic.ml
  src/lib/mina_base/party.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_state/local_state.ml
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/transaction_witness/transaction_witness.ml
  src/lib/transaction_witness/transaction_witness.mli
Owners: @MinaProtocol/protocol-eng-reviewers

put short bootstrap back into reliability test
  src/app/test_executive/reliability_test.ml
Owners: none

remove short boot test altogether
  buildkite/src/Jobs/Test/TestnetIntegrationTests.dhall
  src/app/test_executive/short_bootstrap.ml
  src/app/test_executive/short_bootstrap.mli
  src/app/test_executive/test_executive.ml
Owners: @MinaProtocol/infra-eng-reviewers

draft for node error collection system
  rfcs/0043-node-error-collection.md
Owners: none

Address some review comments
  src/lib/mina_base/ledger.ml
  src/lib/mina_base/ledger.mli
  src/lib/mina_base/party.ml
  src/lib/mina_base/permissions.ml
  src/lib/mina_base/snapp_generators.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Update devnet chain id
  src/app/rosetta/lib/network.ml
Owners: none

update ledger name
  genesis_ledgers/devnet.json
Owners: none

Add updated devnet genesis ledger
  genesis_ledgers/devnet.json
Owners: none

update GraphQL schema
  graphql_schema.json
Owners: none

fix GraphQL type error
  src/app/cli/src/init/client.ml
Owners: @MinaProtocol/protocol-eng-reviewers

add grace period
  src/lib/consensus/global_sub_window.mli
  src/lib/consensus/proof_of_stake.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Slot since genesis in replayer, extract blocks
  src/app/archive/archive_lib/extensional.ml
  src/app/archive/archive_lib/processor.ml
  src/app/extract_blocks/extract_blocks.ml
  src/app/replayer/replayer.ml
  src/app/replayer/sql.ml
Owners: @MinaProtocol/product-eng-reviewers

Expose pieces necessary to allow node shutdowns
  src/lib/marlin_plonk_bindings/js/node_js/node_backend.js
Owners: @MinaProtocol/protocol-eng-reviewers

Remove verifier auto-restart
  src/lib/verifier/prod.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add CHANGES file
  CHANGES
Owners: none

stubbed out node offline event
  src/app/test_executive/reliability_test.ml
  src/lib/integration_test_lib/event_type.ml
  src/lib/integration_test_lib/event_type.mli
  src/lib/integration_test_lib/network_state.ml
Owners: @MinaProtocol/protocol-eng-reviewers

lk86/updated-mina-systemd-proposal Update mina.service and remove block production feature entirely
  scripts/mina.service
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

lk86/devnet-new-compatible Update docker-devnet-start, port over devnet.json, and make a new devnet-dump-archive-cronjob
  genesis_ledgers/devnet.json
  helm/cron_jobs/devnet-dump-archive-cronjob.yaml
  src/app/rosetta/docker-devnet-start.sh
Owners: none

user command weight metric
  src/lib/mina_base/signed_command_payload.ml
  src/lib/mina_base/signed_command_payload.mli
  src/lib/mina_base/snapp_command.ml
  src/lib/mina_base/user_command.ml
  src/lib/network_pool/indexed_pool.ml
  src/lib/network_pool/indexed_pool.mli
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

rebase on feature/set-timing-data
  src/lib/mina_base/parties.ml
  src/lib/mina_base/snapp_command.ml
  src/lib/mina_base/user_command.ml
  src/lib/network_pool/indexed_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

use abstract type for fee rates
  src/lib/currency/currency.ml
  src/lib/currency/currency.mli
  src/lib/mina_base/user_command.ml
  src/lib/network_pool/indexed_pool.ml
  src/lib/network_pool/indexed_pool.mli
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers
