Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

add unit tests
  src/lib/network_pool/indexed_pool.ml
  src/lib/network_pool/indexed_pool.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Handle overflows correctly
  src/lib/currency/currency.ml
  src/lib/currency/intf.ml
  src/lib/mina_base/parties_logic.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Move parties logic functor out of Transaction_logic.step_all
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Move Env out of Transaction_logic.apply_parties_unchecked
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Move perform from Transaction_logic.apply_parties_unchecked to Env
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add Sparse_ledger.apply_parties_unchecked_with_states
  src/lib/mina_base/sparse_ledger.ml
  src/lib/mina_base/sparse_ledger.mli
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update stubs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_urs.rs
Owners: @MinaProtocol/protocol-eng-reviewers

update circuit code to handle variable size proofs
  src/lib/pickles/dlog_main.ml
  src/lib/pickles/pairing_main.ml
  src/lib/pickles/step.ml
  src/lib/pickles/wrap.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Updated GH discussions link
  .github/ISSUE_TEMPLATE/1-BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/2-DOCUMENTATION.yml
  .github/ISSUE_TEMPLATE/3-TEST_REPORT.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: none

pending coinbase checks
  src/lib/bootstrap_controller/bootstrap_controller.ml
  src/lib/mina_base/pending_coinbase.ml
  src/lib/mina_base/pending_coinbase_intf.ml
  src/lib/mina_state/registers.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/staged_ledger/staged_ledger.mli
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.mli
  src/lib/transaction_witness/transaction_witness.ml
  src/lib/transaction_witness/transaction_witness.mli
  src/lib/transition_frontier/persistent_frontier/persistent_frontier.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add group_by_parties_rev
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/transaction_snark/transaction_snark.mli
Owners: @MinaProtocol/protocol-eng-reviewers

puppeteer script hack
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/lib/integration_test_cloud_engine/stack_driver_log_engine.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Remove long running daemon auto-stop
  src/lib/mina_lib/mina_lib.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Snapp commands in archive db schema
  src/app/archive/create_schema.sql
  src/app/archive/drop_tables.sql
  src/app/archive/snapp_tables.sql
Owners: @MinaProtocol/product-eng-reviewers

allow new threads in daemonized daemon, to allow cmd line unit test to pass
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
Owners: none

Fix build warning
  src/lib/mina_lib/mina_lib.ml
Owners: @MinaProtocol/protocol-eng-reviewers

log processing mesasges originating from puppeteer script
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/lib/integration_test_cloud_engine/stack_driver_log_engine.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

longer delays for CI
  src/lib/command_line_tests/command_line_tests.ml
Owners: @MinaProtocol/protocol-eng-reviewers

puppeteer script only emit node offline error
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
Owners: @MinaProtocol/infra-eng-reviewers

connect pending coinbase stacks of scan state leaves
  src/lib/mina_base/pending_coinbase.ml
  src/lib/mina_base/pending_coinbase_intf.ml
  src/lib/mina_state/registers.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
Owners: @MinaProtocol/protocol-eng-reviewers

doesnt work but doesnt fail
  dockerfiles/puppeteer-context/mina_daemon_puppeteer.py
  src/app/test_executive/reliability_test.ml
  src/lib/integration_test_cloud_engine/stack_driver_log_engine.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Update WASM bindings for Error<_,_>s instead of panic!()s
  src/lib/marlin_plonk_bindings/wasm/src/index_serialization.rs
  src/lib/marlin_plonk_bindings/wasm/src/pasta_fp_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/wasm/src/pasta_fp_plonk_proof.rs
  src/lib/marlin_plonk_bindings/wasm/src/pasta_fp_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/wasm/src/pasta_fq_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/wasm/src/pasta_fq_plonk_proof.rs
  src/lib/marlin_plonk_bindings/wasm/src/pasta_fq_plonk_verifier_index.rs
Owners: @MinaProtocol/protocol-eng-reviewers

revert delays, make gen_with_dummies lazy
  src/lib/command_line_tests/command_line_tests.ml
  src/lib/mina_base/control.ml
  src/lib/mina_base/snapp_generators.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix comment
  src/app/archive/snapp_tables.sql
Owners: @MinaProtocol/product-eng-reviewers

capitalize DROP TABLE, to match other SQL keywords
  src/app/archive/drop_tables.sql
Owners: @MinaProtocol/product-eng-reviewers

lk86/resolve-release-conflicts Use postgresql package instead of postgresql-11
  dockerfiles/Dockerfile-mina-archive
Owners: @MinaProtocol/infra-eng-reviewers

lk86/clean-out-old-automation Remove deprecated scripts, references, readme entries, CI tools, and lists of keys
  automation/.circleci/config.yml
  automation/.testing
  automation/LICENSE
  automation/README.md
  automation/community-keys-1.txt
  automation/community-keys-2.txt
  automation/deb/Dockerfile
  automation/deb/README.md
  automation/githooks/pre-push
  automation/o1-keys.txt
  automation/scripts/__init__.py
  automation/scripts/auto-deploy.sh
  automation/scripts/delegation-helper.py
  automation/scripts/elastic_whitelist.py
  automation/scripts/elasticsearch/timestamp-pipeline/README.md
  automation/scripts/elasticsearch/timestamp-pipeline/ingest-pipeline.json
  automation/scripts/elasticsearch/timestamp-pipeline/upload-pipeline.sh
  automation/scripts/full-reset-deploy.sh
  automation/scripts/get_daemon_config.sh
  automation/scripts/get_peers.py
  automation/scripts/get_version.sh
  automation/scripts/logcrash-to-github.py
  automation/scripts/minichaos.py
  automation/scripts/patch-archive-node.sh
  automation/scripts/patch-watchdog.sh
  automation/scripts/random_restart.py
  automation/scripts/restart-coda-network-services.sh
  automation/scripts/testnet-keys.py
Owners: none

lk86/clean-out-old-automation Remove reference to o1-keys.txt
  automation/scripts/generate-keys-and-ledger.sh
Owners: none

[marlin_plonk_bindings][stubs] zexe -> arkworks update imports
  src/lib/marlin_plonk_bindings/stubs/Cargo.toml
  src/lib/marlin_plonk_bindings/stubs/src/index_serialization.rs
  src/lib/marlin_plonk_bindings/stubs/src/lib.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_pallas.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
  src/lib/marlin_plonk_bindings/stubs/src/urs_utils.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][proof-systems] update stubs to match updated proof-systems
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[CI] fix rust version
  src/lib/marlin_plonk_bindings/stubs/dune
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings] added some simple tests
  src/lib/marlin_plonk_bindings/bigint_256/marlin_plonk_bindings_bigint_256.ml
  src/lib/marlin_plonk_bindings/pasta_fp/marlin_plonk_bindings_pasta_fp.ml
  src/lib/marlin_plonk_bindings/pasta_fp/vector/dune
  src/lib/marlin_plonk_bindings/pasta_fp/vector/marlin_plonk_bindings_pasta_fp_vector.ml
  src/lib/marlin_plonk_bindings/pasta_fp_index/marlin_plonk_bindings_pasta_fp_index.ml
  src/lib/marlin_plonk_bindings/pasta_fq_proof/marlin_plonk_bindings_pasta_fq_proof.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[mina_version] fix proof-systems id
  src/lib/mina_version/gen.sh
  src/lib/mina_version/mina_version.mli
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings][stubs] type name changes (X -> CamlX)
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_pallas.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[cleaning] fix some legacy tests
  scripts/rebuild-deb.sh
  src/app/rosetta/test-curl/con_derive.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings][stubs] cleaning
  src/lib/marlin_plonk_bindings/stubs/src/caml_pointer.rs
  src/lib/marlin_plonk_bindings/stubs/src/index_serialization.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/urs_utils.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings][stubs] zexe -> arkworks types
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/group_affine.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/group_projective.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/mod.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fp.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fq.rs
  src/lib/marlin_plonk_bindings/stubs/src/bigint_256.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_binding][stubs] revert type
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings][stubs] fixes to update ocaml-rs dep
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/group_affine.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/group_projective.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fp.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fq.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings] fix mul + add tests
  src/lib/marlin_plonk_bindings/pasta_pallas/marlin_plonk_bindings_pasta_pallas.ml
  src/lib/marlin_plonk_bindings/pasta_vesta/marlin_plonk_bindings_pasta_vesta.ml
  src/lib/marlin_plonk_bindings/stubs/src/pasta_pallas.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
Owners: @MinaProtocol/protocol-eng-reviewers
