Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

add prints
  src/lib/ledger_catchup/super_catchup.ml
Owners: @MinaProtocol/protocol-eng-reviewers

add grafana
  automation/terraform/testnets/gossipqa/.gitignore
  automation/terraform/testnets/gossipqa/grafana.yaml
Owners: none

remove exporter
  automation/terraform/testnets/gossipqa/values.yaml
Owners: none

playing with configs
  automation/terraform/testnets/gossipqa/grafana.yaml
  automation/terraform/testnets/gossipqa/values.yaml
Owners: none

gossip qa prometheus
  automation/terraform/testnets/gossipqa/values.yaml
Owners: none

remove alert manager and exporter
  automation/terraform/testnets/gossipqa/values.yaml
Owners: none

add opam pin
  scripts/pin-external-packages.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

revert camelCasing in GraphQL
  src/app/cli/src/init/client.ml
  src/app/cli/src/init/graphql_queries.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fee_payer -> payment + [] -> None
  src/app/rosetta/README.md
  src/app/rosetta/test-agent/agent.ml
  src/app/rosetta/test-curl/con_payloads.sh
  src/app/rosetta/test-curl/con_preprocess.sh
  src/lib/rosetta_lib/operation_types.ml
  src/lib/rosetta_lib/user_command_info.ml
  src/lib/rosetta_models/operation.ml
Owners: @MinaProtocol/protocol-eng-reviewers

lk86/test-ci Commit a change to /src/
  src/app/rosetta/README.md
Owners: none

lk86/test-ci Fix fast lint steps ambiguous syntax
  scripts/compare_pr_diff_items.py
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

lk86/test-ci Try branch name without origin/
  scripts/compare_pr_diff_items.py
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Add note about changing the models
  src/app/rosetta/README.md
Owners: none

Makes requested README change
  src/app/rosetta/README.md
Owners: none

revert GraphQL changes
  src/app/cli/src/init/client.ml
  src/app/cli/src/init/graphql_queries.ml
Owners: @MinaProtocol/protocol-eng-reviewers

lk86/test-ci Update rosetta to v3
  src/app/rosetta/README.md
Owners: none

rosetta-try-fix-timeout Update readme to refer to rosetta-v3
  src/app/rosetta/README.md
Owners: none

Revert "Account creation fee for coinbases"
  automation/.circleci/config.yml
  automation/.testing
  automation/LICENSE
  automation/README.md
  automation/community-keys-1.txt
  automation/community-keys-2.txt
  automation/deb/Dockerfile
  automation/deb/README.md
  automation/githooks/pre-push
  automation/o1-keys.txt
  automation/scripts/__init__.py
  automation/scripts/auto-deploy.sh
  automation/scripts/delegation-helper.py
  automation/scripts/elastic_whitelist.py
  automation/scripts/elasticsearch/timestamp-pipeline/README.md
  automation/scripts/elasticsearch/timestamp-pipeline/ingest-pipeline.json
  automation/scripts/elasticsearch/timestamp-pipeline/upload-pipeline.sh
  automation/scripts/full-reset-deploy.sh
  automation/scripts/generate-keys-and-ledger.sh
  automation/scripts/get_daemon_config.sh
  automation/scripts/get_peers.py
  automation/scripts/get_version.sh
  automation/scripts/logcrash-to-github.py
  automation/scripts/minichaos.py
  automation/scripts/patch-archive-node.sh
  automation/scripts/patch-watchdog.sh
  automation/scripts/random_restart.py
  automation/scripts/restart-coda-network-services.sh
  automation/scripts/testnet-keys.py
  automation/terraform/modules/testnet-alerts/alerts.tf
  automation/terraform/modules/testnet-alerts/locals.tf
  buildkite/src/Jobs/Lint/TestnetAlerts.dhall
  src/app/archive/archive_lib/processor.ml
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/lib/secrets/keypair_common.ml
  src/lib/secrets/privkey_error.ml
  src/lib/secrets/wallets.ml
  src/lib/secrets/wallets.mli
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

add back desired changes
  src/app/archive/archive_lib/processor.ml
Owners: @MinaProtocol/product-eng-reviewers

try adding root of test TF to nodes TF
  src/lib/ledger_catchup/super_catchup.ml
Owners: @MinaProtocol/protocol-eng-reviewers

increase vrf-evaluator connection timeout to 1min
  src/lib/vrf_evaluator/vrf_evaluator.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Revert "Merge pull request #9604 from MinaProtocol/revert-9599-fix/coinbase-acct-creation-fee"
  automation/.circleci/config.yml
  automation/.testing
  automation/LICENSE
  automation/README.md
  automation/community-keys-1.txt
  automation/community-keys-2.txt
  automation/deb/Dockerfile
  automation/deb/README.md
  automation/githooks/pre-push
  automation/o1-keys.txt
  automation/scripts/__init__.py
  automation/scripts/auto-deploy.sh
  automation/scripts/delegation-helper.py
  automation/scripts/elastic_whitelist.py
  automation/scripts/elasticsearch/timestamp-pipeline/README.md
  automation/scripts/elasticsearch/timestamp-pipeline/ingest-pipeline.json
  automation/scripts/elasticsearch/timestamp-pipeline/upload-pipeline.sh
  automation/scripts/full-reset-deploy.sh
  automation/scripts/generate-keys-and-ledger.sh
  automation/scripts/get_daemon_config.sh
  automation/scripts/get_peers.py
  automation/scripts/get_version.sh
  automation/scripts/logcrash-to-github.py
  automation/scripts/minichaos.py
  automation/scripts/patch-archive-node.sh
  automation/scripts/patch-watchdog.sh
  automation/scripts/random_restart.py
  automation/scripts/restart-coda-network-services.sh
  automation/scripts/testnet-keys.py
  automation/terraform/modules/testnet-alerts/alerts.tf
  automation/terraform/modules/testnet-alerts/locals.tf
  buildkite/src/Jobs/Lint/TestnetAlerts.dhall
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/lib/secrets/keypair_common.ml
  src/lib/secrets/privkey_error.ml
  src/lib/secrets/wallets.ml
  src/lib/secrets/wallets.mli
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Import parties construction (WIP, hash-consing is still broken)
  src/lib/hash_prefix_states/hash_prefix_states.ml
  src/lib/hash_prefix_states/hash_prefix_states.mli
  src/lib/hash_prefixes/hash_prefixes.ml
  src/lib/mina_base/parties_construction.ml
  src/lib/mina_base/parties_construction.mli
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/crypto-eng-reviewers

Revert changes to existing GraphQL fields
  graphql_schema.json
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

Fix unit test failures; address RPC bug
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg.go
  src/lib/mina_net2/tests/all_ipc.ml
  src/lib/mina_net2/tests/tests.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fixup compilation
  src/lib/pickles/cache.ml
  src/lib/pickles/commitment_lengths.ml
  src/lib/pickles/common.ml
  src/lib/pickles/dlog_main.ml
  src/lib/pickles/dune
  src/lib/pickles/fix_domains.ml
  src/lib/pickles/inductive_rule.ml
  src/lib/pickles/pairing_main.ml
  src/lib/pickles/per_proof_witness.ml
  src/lib/pickles/pickles.ml
  src/lib/pickles/pickles.mli
  src/lib/pickles/proof.ml
  src/lib/pickles/reduced_me_only.ml
  src/lib/pickles/requests.ml
  src/lib/pickles/ro.ml
  src/lib/pickles/side_loaded_verification_key.ml
  src/lib/pickles/step.ml
  src/lib/pickles/step_branch_data.ml
  src/lib/pickles/step_main.ml
  src/lib/pickles/tock_field_sponge.ml
  src/lib/pickles/types_map.ml
  src/lib/pickles/unfinalized.ml
  src/lib/pickles/verification_key.ml
  src/lib/pickles/verify.ml
  src/lib/pickles/wrap.ml
  src/lib/pickles/wrap_domains.ml
  src/lib/pickles/wrap_main.ml
  src/lib/pickles/wrap_main_inputs.ml
  src/lib/pickles/wrap_proof.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix compilation some more
  src/lib/dummy_values/gen_values/dune
  src/lib/dummy_values/gen_values/gen_values.ml
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_urs.rs
  src/lib/pickles_types/vector.ml
  src/lib/zexe_backend/unix/zexe_backend_unix.ml
Owners: @MinaProtocol/crypto-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

remove ppx_deriving_yojson
  .gitmodules
  dockerfiles/Dockerfile-rosetta
  scripts/setup-opam.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

add uptime service back
  src/lib/mina_lib/mina_lib.ml
Owners: @MinaProtocol/protocol-eng-reviewers

lk86/improve-rosetta-postgresql-conf Update postgres configuration to repeatable read and update max_pred_locks_per_transaction
  dockerfiles/stages/5-prod-ubuntu
  src/app/rosetta/init-db.sh
Owners: @MinaProtocol/infra-eng-reviewers

Revert renames in client
  src/app/cli/src/init/client.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add memo to parties transactions
  src/app/cli/src/init/client.ml
  src/lib/hash_prefix_states/hash_prefix_states.ml
  src/lib/hash_prefix_states/hash_prefix_states.mli
  src/lib/hash_prefixes/hash_prefixes.ml
  src/lib/mina_base/parties.ml
  src/lib/mina_base/parties_logic.ml
  src/lib/mina_base/signed_command_memo.ml
  src/lib/mina_base/signed_command_memo.mli
  src/lib/mina_base/snapp_generators.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_base/user_command.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/network_pool/indexed_pool.ml
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/transaction_witness/transaction_witness.ml
  src/lib/transaction_witness/transaction_witness.mli
  src/lib/verifier/common.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/crypto-eng-reviewers, @MinaProtocol/product-eng-reviewers

schema update
  graphql_schema.json
Owners: none

force github to trigger rebuild
  foo
Owners: none

Chunk Base58Check for long inputs
  src/lib/base58_check/base58_check.ml
Owners: @MinaProtocol/protocol-eng-reviewers

remove prometheus from opam.export
  src/opam.export
Owners: none

pin only prometheus
  dockerfiles/Dockerfile-deb-builder
  dockerfiles/Dockerfile-rosetta
  dockerfiles/Dockerfile-rosetta-hardcoded
  scripts/setup-opam.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Additional fee for coinbase account creation fee in db
  src/app/archive/archive_lib/processor.ml
Owners: @MinaProtocol/product-eng-reviewers

display rollup events and events of snapp transactions
  graphql_schema.json
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

Cleaned up minimum window density code
  src/lib/consensus/proof_of_stake.ml
Owners: @MinaProtocol/protocol-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers
