Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

core -> core_kernel in Zexe_backend.Pasta dune file
  src/lib/zexe_backend/pasta/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Remove core as a dependency of pickles
  src/lib/pickles/cache.ml
  src/lib/pickles/commitment_lengths.ml
  src/lib/pickles/dlog_main.ml
  src/lib/pickles/dummy.ml
  src/lib/pickles/per_proof_witness.ml
  src/lib/pickles/plonk_curve_ops.ml
  src/lib/pickles/proof.ml
  src/lib/pickles/reduced_me_only.ml
  src/lib/pickles/requests.ml
  src/lib/pickles/ro.ml
  src/lib/pickles/scalar_challenge.ml
  src/lib/pickles/step.ml
  src/lib/pickles/step_branch_data.ml
  src/lib/pickles/step_main.ml
  src/lib/pickles/timer.ml
  src/lib/pickles/verification_key.ml
  src/lib/pickles/verify.ml
  src/lib/pickles/wrap.ml
  src/lib/pickles/wrap_main.ml
  src/lib/zexe_backend/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Split Webkit_trace_event
  src/lib/o1trace/webkit_event/dune
  src/lib/o1trace/webkit_event/o1trace_webkit_event.ml
  src/lib/pickles/dune
  src/lib/webkit_trace_event/binary_output/dune
  src/lib/webkit_trace_event/binary_output/webkit_trace_event_binary_output.ml
  src/lib/webkit_trace_event/dune
  src/lib/webkit_trace_event/webkit_trace_event.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Async as a dependency of Pickles
  src/lib/pickles/common.ml
  src/lib/pickles/dune
  src/lib/pickles/pickles.ml
  src/lib/pickles/pickles.mli
  src/lib/pickles/step.ml
  src/lib/pickles/verify.ml
  src/lib/pickles/wrap.ml
  src/lib/zexe_backend/run_in_thread/fake/run_in_thread.ml
  src/lib/zexe_backend/run_in_thread/native/run_in_thread.ml
  src/lib/zexe_backend/run_in_thread/run_in_thread.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Add an interface for Cache_dir
  src/lib/cache_dir/cache_dir.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Convert Cache_dir into a virtual module, add a fake implementation
  src/lib/cache_dir/fake/cache_dir.ml
  src/lib/cache_dir/fake/dune
  src/lib/cache_dir/native/cache_dir.ml
  src/lib/cache_dir/native/dune
  src/lib/crypto_params/dune
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/crypto-eng-reviewers

Remove Core as a dependency of Crypto_params
  src/lib/crypto_params/dune
  src/lib/crypto_params/gen/gen.ml
Owners: @MinaProtocol/crypto-eng-reviewers

Remove Core from Mina_numbers and Unsigned_extended
  src/lib/mina_numbers/dune
  src/lib/unsigned_extended/dune
Owners: @MinaProtocol/crypto-eng-reviewers

Add a first draft of standalone launcher RFC
  rfcs/0043-standalone-launcher.md
Owners: none

Remove Core as a dependency for Block_time
  src/lib/block_time/block_time.ml
  src/lib/block_time/block_time.mli
  src/lib/block_time/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Currency
  src/lib/currency/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Direction
  src/lib/direction/direction.ml
  src/lib/direction/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Empty_hashes
  src/lib/empty_hashes/dune
  src/lib/empty_hashes/empty_hashes.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Genesis_constants
  src/lib/genesis_constants/dune
  src/lib/genesis_constants/genesis_constants.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core and Async as dependencies for Interruptible
  src/lib/interruptible/dune
  src/lib/interruptible/interruptible.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Move Core as a dependency for Linked_tree
  src/lib/linked_tree/dune
  src/lib/linked_tree/linked_tree.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Merkle_address
  src/lib/merkle_address/dune
  src/lib/merkle_address/merkle_address.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Merkle_mask
  src/lib/merkle_mask/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Mina_incremental
  src/lib/mina_incremental/mina_incremental.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core, Async as dependencies for One_or_two
  src/lib/one_or_two/dune
  src/lib/one_or_two/one_or_two.ml
  src/lib/one_or_two/one_or_two.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core, Async as dependencies for Pipe_lib
  src/lib/pipe_lib/broadcast_pipe.ml
  src/lib/pipe_lib/dune
  src/lib/pipe_lib/strict_pipe.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Signature_lib
  src/lib/signature_lib/dune
Owners: @MinaProtocol/crypto-eng-reviewers

Remove Core as a dependency for Syncable_ledger
  src/lib/syncable_ledger/dune
  src/lib/syncable_ledger/syncable_ledger.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Test_util
  src/lib/test_util/test_util.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Timeout_lib
  src/lib/timeout_lib/dune
  src/lib/timeout_lib/timeout_lib.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Trust_system
  src/lib/trust_system/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Visualization
  src/lib/visualization/dune
  src/lib/visualization/visualization.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fixup compilation: add core.uuid as a dependency of Merkle_ledger
  src/lib/merkle_ledger/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Add Core as a dependency
  src/lib/mina_base/base/epoch_seed.ml
  src/lib/mina_base/base/ledger_hash.ml
  src/lib/mina_base/base/parties.ml
  src/lib/mina_base/base/payment_payload.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Work in progress on checkpointing
  docs/specs/consensus/README.md
Owners: none

Compile Mina_base into javascript with SnarkyJS
  src/lib/dummy_values/gen_values/gen_values.ml
  src/lib/pickles/pickles.ml
  src/lib/pickles/pickles.mli
  src/lib/snarky_js_bindings/dune
  src/lib/snarky_js_bindings/lib/dune
  src/lib/snarky_js_bindings/lib/snarky_js_bindings_lib.ml
Owners: @MinaProtocol/crypto-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Work in progress on decentralized checkpointing initial state
  docs/specs/consensus/README.md
Owners: none

Check-in missing dune files
  src/lib/marlin_plonk_bindings/wasm/chrome/dune
  src/lib/marlin_plonk_bindings/wasm/node/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Fixed typo
  docs/specs/consensus/README.md
Owners: none

Reformat
  src/lib/o1trace/webkit_event/o1trace_webkit_event.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update tests
  graphql_schema.json
  src/lib/mina_base/sparse_ledger.ml
  src/lib/mina_base/sparse_ledger.mli
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

bump catchup unit test timeout
  src/lib/transition_handler/catchup_scheduler.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fix tests
  src/lib/mina_base/party.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

trying out kube-prometheus-stack to streamline things
  automation/terraform/testnets/gossipqa/Grafana_Export_Simplified_Mainnet_Overview-1634935128244.json
  automation/terraform/testnets/gossipqa/readme.md
  automation/terraform/testnets/gossipqa/values-stack.yaml
Owners: none

update validation metrics
  src/lib/mina_metrics/mina_metrics.ml
  src/lib/mina_net2/validation_callback.ml
  src/lib/mina_networking/mina_networking.ml
Owners: @MinaProtocol/protocol-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers
