Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

Update coda for mina in log message
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
Owners: none

Reformat
  src/lib/key_cache/native/key_cache_native.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Reformat
  src/lib/logger/test/logger_test.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove non-js dependency from Logger
  src/lib/cli_lib/stdout_log.ml
  src/lib/logger/dune
  src/lib/logger/impl.ml
  src/lib/logger/impl.mli
  src/lib/mina_graphql/dune
Owners: @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Add Run_in_thread virtual helper module
  src/lib/zexe_backend/run_in_thread/dune
  src/lib/zexe_backend/run_in_thread/fake/dune
  src/lib/zexe_backend/run_in_thread/fake/run_in_thread.ml
  src/lib/zexe_backend/run_in_thread/native/dune
  src/lib/zexe_backend/run_in_thread/native/run_in_thread.ml
  src/lib/zexe_backend/run_in_thread/run_in_thread.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Add test for JS compilation of Mina_metrics (with mina_metrics.none)
  src/lib/mina_metrics/js_test/dune
  src/lib/mina_metrics/js_test/mina_metrics_js_test.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fixup compilation errors in Zexe_backend
  src/lib/consensus/vrf/dune
  src/lib/zexe_backend/pasta/pallas_based_plonk.ml
  src/lib/zexe_backend/pasta/vesta_based_plonk.ml
  src/lib/zexe_backend/zexe_backend_common/bigint.ml
  src/lib/zexe_backend/zexe_backend_common/dune
  src/lib/zexe_backend/zexe_backend_common/field.ml
  src/lib/zexe_backend/zexe_backend_common/plonk_constraint_system.ml
  src/lib/zexe_backend/zexe_backend_common/plonk_dlog_proof.ml
  src/lib/zexe_backend/zexe_backend_common/var.ml
Owners: @MinaProtocol/protocol-eng-reviewers

core -> core_kernel in Zexe_backend.Pasta dune file
  src/lib/zexe_backend/pasta/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Add virtual modules for Mina_metrics
  src/lib/mina_metrics/dune
  src/lib/mina_metrics/mina_metrics.mli
  src/lib/mina_metrics/no_metrics/dune
  src/lib/mina_metrics/no_metrics/mina_metrics.ml
  src/lib/mina_metrics/prometheus_metrics/dune
  src/lib/mina_metrics/prometheus_metrics/metric_generators.ml
  src/lib/mina_metrics/prometheus_metrics/mina_metrics.ml
  src/lib/mina_metrics/prometheus_metrics/namespace.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add an interface to Mina_metrics
  src/lib/mina_metrics/mina_metrics.ml
  src/lib/mina_metrics/mina_metrics.mli
  src/lib/zexe_backend/zexe_backend_common/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Reformat
  src/lib/logger/impl.ml
  src/lib/logger/impl.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Split Webkit_trace_event
  src/lib/o1trace/webkit_event/dune
  src/lib/o1trace/webkit_event/o1trace_webkit_event.ml
  src/lib/pickles/dune
  src/lib/webkit_trace_event/binary_output/dune
  src/lib/webkit_trace_event/binary_output/webkit_trace_event_binary_output.ml
  src/lib/webkit_trace_event/dune
  src/lib/webkit_trace_event/webkit_trace_event.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove core as a dependency of pickles
  src/lib/pickles/cache.ml
  src/lib/pickles/commitment_lengths.ml
  src/lib/pickles/dlog_main.ml
  src/lib/pickles/dummy.ml
  src/lib/pickles/per_proof_witness.ml
  src/lib/pickles/plonk_curve_ops.ml
  src/lib/pickles/proof.ml
  src/lib/pickles/reduced_me_only.ml
  src/lib/pickles/requests.ml
  src/lib/pickles/ro.ml
  src/lib/pickles/scalar_challenge.ml
  src/lib/pickles/step.ml
  src/lib/pickles/step_branch_data.ml
  src/lib/pickles/step_main.ml
  src/lib/pickles/timer.ml
  src/lib/pickles/verification_key.ml
  src/lib/pickles/verify.ml
  src/lib/pickles/wrap.ml
  src/lib/pickles/wrap_main.ml
  src/lib/zexe_backend/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Add an interface for Cache_dir
  src/lib/cache_dir/cache_dir.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Convert Cache_dir into a virtual module, add a fake implementation
  src/lib/cache_dir/fake/cache_dir.ml
  src/lib/cache_dir/fake/dune
  src/lib/cache_dir/native/cache_dir.ml
  src/lib/cache_dir/native/dune
  src/lib/crypto_params/dune
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/crypto-eng-reviewers

Remove Core from Mina_numbers and Unsigned_extended
  src/lib/mina_numbers/dune
  src/lib/unsigned_extended/dune
Owners: @MinaProtocol/crypto-eng-reviewers

Remove Core as a dependency of Crypto_params
  src/lib/crypto_params/gen/gen.ml
Owners: @MinaProtocol/crypto-eng-reviewers

Reformat
  src/lib/cache_dir/fake/cache_dir.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Reformat
  src/lib/crypto_params/gen/gen.ml
Owners: @MinaProtocol/crypto-eng-reviewers

Add missing stanzas that are required for CI
  src/lib/webkit_trace_event/binary_output/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Check in run_in_thread.opam
  src/run_in_thread.opam
Owners: none

Add missing stanzas required by CI
  src/lib/mina_metrics/js_test/dune
  src/lib/zexe_backend/run_in_thread/dune
  src/lib/zexe_backend/run_in_thread/fake/dune
  src/lib/zexe_backend/run_in_thread/native/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Async as a dependency of Pickles
  src/lib/pickles/common.ml
  src/lib/pickles/dune
  src/lib/pickles/pickles.ml
  src/lib/pickles/pickles.mli
  src/lib/pickles/step.ml
  src/lib/pickles/verify.ml
  src/lib/pickles/wrap.ml
  src/lib/zexe_backend/run_in_thread/fake/run_in_thread.ml
  src/lib/zexe_backend/run_in_thread/native/run_in_thread.ml
  src/lib/zexe_backend/run_in_thread/run_in_thread.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Fixup compilation errors in Zexe_backend
  src/lib/cli_lib/stdout_log.ml
  src/lib/mina_graphql/dune
Owners: @MinaProtocol/product-eng-reviewers

Remove Core as a dependency for Signature_lib
  src/lib/signature_lib/dune
Owners: @MinaProtocol/crypto-eng-reviewers

Remove Core as a dependency for Merkle_address
  src/lib/merkle_address/dune
  src/lib/merkle_address/merkle_address.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Test_util
  src/lib/test_util/test_util.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core and Async as dependencies for Interruptible
  src/lib/interruptible/dune
  src/lib/interruptible/interruptible.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Syncable_ledger
  src/lib/syncable_ledger/dune
  src/lib/syncable_ledger/syncable_ledger.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Direction
  src/lib/direction/direction.ml
  src/lib/direction/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Merkle_mask
  src/lib/merkle_mask/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Currency
  src/lib/currency/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core, Async as dependencies for One_or_two
  src/lib/one_or_two/dune
  src/lib/one_or_two/one_or_two.ml
  src/lib/one_or_two/one_or_two.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Fixup compilation: add core.uuid as a dependency of Merkle_ledger
  src/lib/merkle_ledger/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Visualization
  src/lib/visualization/dune
  src/lib/visualization/visualization.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Empty_hashes
  src/lib/empty_hashes/dune
  src/lib/empty_hashes/empty_hashes.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Genesis_constants
  src/lib/genesis_constants/dune
  src/lib/genesis_constants/genesis_constants.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Timeout_lib
  src/lib/timeout_lib/dune
  src/lib/timeout_lib/timeout_lib.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core as a dependency for Mina_incremental
  src/lib/mina_incremental/mina_incremental.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove Core, Async as dependencies for Pipe_lib
  src/lib/pipe_lib/broadcast_pipe.ml
  src/lib/pipe_lib/dune
  src/lib/pipe_lib/strict_pipe.ml
Owners: @MinaProtocol/protocol-eng-reviewers
