Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

force github to trigger build again
  foo
Owners: none

Add account creation fee on inequality
  scripts/archive/internal-command-account-fees.sh
  src/app/archive/archive_lib/processor.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

try to fix opam
  src/opam.export
Owners: none

andrews changes
  automation/terraform/testnets/gossipqa/values.yaml
Owners: none

using merlin 3.5.0
  src/opam.export
Owners: none

Snapps in txn pool unit test
  src/lib/base58_check/base58_check.ml
  src/lib/mina_base/account.ml
  src/lib/mina_base/party.ml
  src/lib/mina_base/snapp_generators.ml
  src/lib/network_pool/intf.ml
  src/lib/network_pool/mocks.ml
  src/lib/network_pool/network_pool_base.ml
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

chore: delete snarkyjs
  buildkite/src/Jobs/Test/SnarkyJsTypescript.dhall
  frontend/snapps/snarkyjs/.gitignore
  frontend/snapps/snarkyjs/.prettierignore
  frontend/snapps/snarkyjs/.prettierrc
  frontend/snapps/snarkyjs/LICENSE
  frontend/snapps/snarkyjs/README.md
  frontend/snapps/snarkyjs/babel.config.json
  frontend/snapps/snarkyjs/package.json
  frontend/snapps/snarkyjs/src/bindings/group.d.ts
  frontend/snapps/snarkyjs/src/bindings/group.js
  frontend/snapps/snarkyjs/src/bindings/plonk.d.ts
  frontend/snapps/snarkyjs/src/bindings/plonk.js
  frontend/snapps/snarkyjs/src/bindings/plonk_circuit.js
  frontend/snapps/snarkyjs/src/bindings/poseidon.d.ts
  frontend/snapps/snarkyjs/src/bindings/poseidon.js
  frontend/snapps/snarkyjs/src/circuit_value.ts
  frontend/snapps/snarkyjs/src/examples/matrix_mul.ts
  frontend/snapps/snarkyjs/src/examples/multisig.ts
  frontend/snapps/snarkyjs/src/examples/schnorr_sign.ts
  frontend/snapps/snarkyjs/src/index.ts
  frontend/snapps/snarkyjs/src/mina.ts
  frontend/snapps/snarkyjs/test/simple.test.ts
  frontend/snapps/snarkyjs/tsconfig.json
  frontend/snapps/snarkyjs/yarn.lock
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers

Use 0 as chunk marker
  src/lib/base58_check/base58_check.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Don't call explicit chunk funs in unit test
  src/lib/base58_check/base58_check.ml
Owners: @MinaProtocol/protocol-eng-reviewers

WIP
  frontend/client_sdk/src/MinaSDK.re
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

lk86/test-ci-2 Add a change in src
  src/app/rosetta/README.md
Owners: none

helm refactor
  helm/plain-node/Chart.yaml
  helm/plain-node/templates/_healthchecks.tpl
  helm/plain-node/templates/plain-node-service.yaml
  helm/plain-node/templates/plain-node.yaml
  helm/plain-node/values.yaml
  helm/plain-node/values.yml
Owners: none

new_party -> new_parties; revert pattern-match
  src/lib/mina_base/party.ml
  src/lib/mina_base/snapp_generators.ml
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update comment
  src/lib/mina_base/pending_coinbase_intf.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fix up pickles types for kimchi
  src/lib/pickles_types/dlog_plonk_types.ml
  src/lib/pickles_types/plonk_verification_key_evals.ml
  src/lib/pickles_types/shifted_value.ml
  src/lib/pickles_types/vector.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Includes acct create fee in /con/options iff new
  src/app/rosetta/lib/construction.ml
Owners: none

Keep for non-snapps accounts
  src/lib/mina_base/party.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Move some files into Pickles_base
  src/lib/pickles/base/tock_field_sponge.ml
  src/lib/pickles/base/wrap_main_inputs.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add aliases to moved modules in Pickles
  src/lib/pickles/domain.ml
  src/lib/pickles/domains.ml
  src/lib/pickles/endo.ml
  src/lib/pickles/impls.ml
  src/lib/pickles/import.ml
  src/lib/pickles/intf.ml
  src/lib/pickles/plonk_curve_ops.ml
  src/lib/pickles/scalar_challenge.ml
  src/lib/pickles/sponge_inputs.ml
  src/lib/pickles/step_main_inputs.ml
  src/lib/pickles/tick_field_sponge.ml
  src/lib/pickles/tock_field_sponge.ml
  src/lib/pickles/type.ml
  src/lib/pickles/util.ml
  src/lib/pickles/wrap_main_inputs.ml
Owners: @MinaProtocol/protocol-eng-reviewers

lk86/fix-postgres-config-and-allow-dumps-after-midnight Allow dumps after midnight and port changes from postgres conf PR
  dockerfiles/stages/5-prod-ubuntu
  src/app/rosetta/docker-start.sh
  src/app/rosetta/init-db.sh
Owners: @MinaProtocol/infra-eng-reviewers

Fixup bindings
  src/lib/marlin_plonk_bindings/stubs/src/index_serialization.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
Owners: @MinaProtocol/protocol-eng-reviewers

Add linkme for Zexe_backend_unix
  src/lib/dummy_values/gen_values/dune
  src/lib/dummy_values/gen_values/gen_values.ml
  src/lib/zexe_backend/unix/zexe_backend_unix.ml
Owners: @MinaProtocol/crypto-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

lk86/fix-postgres-config-and-allow-dumps-after-midnight Update README
  src/app/rosetta/README.md
Owners: none

Update bindings output
  src/lib/snarky_js_bindings/output/node/snarky_js_node.bc.runtime.js
Owners: @MinaProtocol/protocol-eng-reviewers

Add test for SnarkyJS generated bindings
  buildkite/scripts/check-snarkyjs-bindings.sh
  buildkite/src/Command/CheckSnarkyJSBindings.dhall
  buildkite/src/Jobs/Test/CheckSnarkyJSBindings.dhall
Owners: @MinaProtocol/infra-eng-reviewers

Add combined snarkyjs binding generator
  Makefile
  src/lib/snarky_js_bindings/backend_bindings/README.md
  src/lib/snarky_js_bindings/output/dune
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Revert "Merge pull request #9208 from MinaProtocol/fix_lipb2p_helper_unittest"
  src/app/libp2p_helper/src/libp2p_helper/main_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Revert "Merge branch 'noot/stream-prefix' into develop"
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/app/libp2p_helper/src/libp2p_helper/main_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

newest helm update
  helm/plain-node/values.yml
Owners: none

More txn pool Snapps unit tests
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

mk_linear_case_test
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

address comments from deepthi
  src/lib/transition_frontier/full_frontier/full_frontier.ml
  src/lib/transition_frontier/persistent_frontier/persistent_frontier.ml
  src/lib/transition_frontier/persistent_root/persistent_root.ml
  src/lib/transition_frontier/transition_frontier.ml
Owners: @MinaProtocol/protocol-eng-reviewers

resolve conflicts in keypair files and client sdk files
  src/app/client_sdk/dune
  src/lib/secrets/keypair.ml
  src/lib/secrets/keypair_common.ml
  src/lib/secrets/keypair_read_write.ml
  src/lib/secrets/libp2p_keypair.ml
  src/lib/secrets/uptime_keypair.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi] bump rust version to access needed features
  src/lib/crypto/kimchi_bindings/stubs/rust-toolchain.toml
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][zexe_backend] moving to kimchi_backend
  src/lib/crypto/kimchi_backend/dune
  src/lib/crypto/kimchi_backend/pasta/basic.ml
  src/lib/crypto/kimchi_backend/pasta/dune
  src/lib/crypto/kimchi_backend/pasta/pallas_based_plonk.ml
  src/lib/crypto/kimchi_backend/pasta/pasta.ml
  src/lib/crypto/kimchi_backend/pasta/precomputed.ml
  src/lib/crypto/kimchi_backend/pasta/vesta_based_plonk.ml
  src/lib/crypto/kimchi_backend/zexe_backend.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/bigint.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/curve.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/dlog_plonk_based_keypair.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/dlog_urs.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/dune
  src/lib/crypto/kimchi_backend/zexe_backend_common/endoscale_round.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/field.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/gen_version.sh
  src/lib/crypto/kimchi_backend/zexe_backend_common/intf.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/plonk_constraint_system.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/plonk_dlog_oracles.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/plonk_dlog_proof.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/poly_comm.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/scale_round.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/var.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/version.mli
Owners: @MinaProtocol/protocol-eng-reviewers

[kimchi][backend] update types after lookup and coefficient update
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/src/main.rs
  src/lib/crypto/kimchi_bindings/stubs/src/lib.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/plonk_verifier_index.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi_backend] zexe -> kimchi + README
  src/kimchi_backend.opam
  src/lib/crypto/kimchi_backend/README.md
  src/lib/crypto/kimchi_backend/dune
  src/lib/crypto/kimchi_backend/pasta/basic.ml
  src/lib/crypto/kimchi_backend/pasta/dune
  src/lib/crypto/kimchi_backend/pasta/pallas_based_plonk.ml
  src/lib/crypto/kimchi_backend/pasta/vesta_based_plonk.ml
  src/lib/crypto/kimchi_backend/zexe_backend.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/bigint.ml
  src/lib/crypto/kimchi_backend/zexe_backend_common/dune
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi_backend] working on making kimchi_backend work
  src/lib/crypto/kimchi_backend/common/bigint.ml
  src/lib/crypto/kimchi_backend/common/dune
  src/lib/crypto/kimchi_backend/common/field.ml
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system.ml
  src/lib/crypto/kimchi_backend/kimchi_backend.ml
  src/lib/crypto/kimchi_backend/pasta/basic.ml
  src/lib/crypto/kimchi_backend/pasta/dune
  src/lib/crypto/kimchi_backend/pasta/pallas_based_plonk.ml
  src/lib/crypto/kimchi_backend/pasta/vesta_based_plonk.ml
  src/lib/crypto/kimchi_backend/zexe_backend.ml
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/src/main.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[kimchi][backend] move common folder
  src/lib/crypto/kimchi_backend/README.md
  src/lib/crypto/kimchi_backend/common/bigint.ml
  src/lib/crypto/kimchi_backend/common/curve.ml
  src/lib/crypto/kimchi_backend/common/dlog_plonk_based_keypair.ml
  src/lib/crypto/kimchi_backend/common/dlog_urs.ml
  src/lib/crypto/kimchi_backend/common/dune
  src/lib/crypto/kimchi_backend/common/endoscale_round.ml
  src/lib/crypto/kimchi_backend/common/field.ml
  src/lib/crypto/kimchi_backend/common/gen_version.sh
  src/lib/crypto/kimchi_backend/common/intf.ml
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system.ml
  src/lib/crypto/kimchi_backend/common/plonk_dlog_oracles.ml
  src/lib/crypto/kimchi_backend/common/plonk_dlog_proof.ml
  src/lib/crypto/kimchi_backend/common/poly_comm.ml
  src/lib/crypto/kimchi_backend/common/scale_round.ml
  src/lib/crypto/kimchi_backend/common/var.ml
  src/lib/crypto/kimchi_backend/common/version.mli
Owners: @MinaProtocol/protocol-eng-reviewers

[kimchi][backend] update oracles stubs to mimic expected ocaml bindings
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/src/main.rs
  src/lib/crypto/kimchi_bindings/stubs/src/lib.rs
  src/lib/crypto/kimchi_bindings/stubs/src/oracles.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_oracles.rs
Owners: @MinaProtocol/protocol-eng-reviewers
