Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

feature update: generic node naming conventions, loadbalancer restructure and daemon settings
  helm/generic-node/Chart.yaml
  helm/generic-node/templates/generic-node-service.yaml
  helm/generic-node/templates/generic-node.yaml
  helm/generic-node/values.yml
Owners: none

Added security note
  docs/specs/consensus/README.md
Owners: none

[kimchi][bindings] revert to camlpointer for field vectors
  src/lib/crypto/kimchi_bindings/stubs/src/caml/caml_pointer.rs
  src/lib/crypto/kimchi_bindings/stubs/src/caml/mod.rs
  src/lib/crypto/kimchi_bindings/stubs/src/field_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_proof.rs
Owners: @MinaProtocol/protocol-eng-reviewers

different padding for user cmds, snapps
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Check-in missing dune file for transaction_consistency_tests
  src/lib/transaction_consistency_tests/dune
Owners: @MinaProtocol/protocol-eng-reviewers

name args to mk_payment
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Time.now, quiet logs
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Name args to mk_account
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Txn pool unit test w/ user cmds and snapps
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fix submodules
  .gitmodules
Owners: none

Use Base58Check funs, not string funs
  src/app/archive/archive_lib/processor.ml
  src/app/cli/src/init/client.ml
  src/lib/cli_lib/arg_type.ml
  src/lib/codable/codable.ml
  src/lib/consensus/proof_of_stake.ml
  src/lib/data_hash_lib/data_hash.ml
  src/lib/data_hash_lib/data_hash_intf.ml
  src/lib/genesis_ledger_helper/genesis_ledger_helper.ml
  src/lib/ledger_catchup/super_catchup.ml
  src/lib/merkle_ledger/intf.ml
  src/lib/merkle_mask/maskable_merkle_tree.ml
  src/lib/mina_base/coinbase.ml
  src/lib/mina_base/coinbase_fee_transfer.ml
  src/lib/mina_base/fee_transfer.ml
  src/lib/mina_base/ledger.ml
  src/lib/mina_base/ledger_hash_intf.ml
  src/lib/mina_base/ledger_transfer.ml
  src/lib/mina_base/receipt.mli
  src/lib/mina_base/signed_command.ml
  src/lib/mina_base/sync_ledger.ml
  src/lib/mina_commands/mina_commands.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/mina_lib/coda_subscriptions.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/mina_state/blockchain_state.ml
  src/lib/transition_frontier/persistent_frontier/worker.ml
Owners: @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

base58check funs in some apps
  src/app/best_tip_merger/best_tip_merger.ml
  src/app/delegation_compliance/delegation_compliance.ml
  src/app/extract_blocks/extract_blocks.ml
  src/app/replayer/replayer.ml
Owners: none

fix unit test
  src/lib/base58_check/version_bytes.ml
  src/lib/merkle_ledger_tests/test_stubs.ml
Owners: @MinaProtocol/protocol-eng-reviewers

WIp
  frontend/client_sdk/src/MinaSDK.d.ts
Owners: @MinaProtocol/product-eng-reviewers

fix type error
  src/lib/mina_metrics/mina_metrics.mli
  src/lib/mina_metrics/no_metrics/mina_metrics.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fixes rosetta unit tests
  src/app/rosetta/lib/account.ml
  src/app/rosetta/lib/network.ml
  src/lib/rosetta_lib/user_command_info.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Update stale.yml
  .github/workflows/stale.yml
Owners: none

restructured the arguments
  helm/generic-node/Chart.lock
  helm/generic-node/Chart.yaml
  helm/generic-node/charts/common-utilities-0.0.9.tgz
  helm/generic-node/charts/postgresql-10.12.9.tgz
  helm/generic-node/templates/_healthchecks.tpl
  helm/generic-node/templates/generic-node.yaml
Owners: none

Rework Ppx_dhall_type to automatically include its runtime library
  src/lib/ppx_dhall_type/deriving.ml
  src/lib/ppx_dhall_type/dune
  src/lib/ppx_dhall_type/ppx_dhall_type.ml
  src/lib/ppx_dhall_type/runtime/dhall_type.ml
  src/lib/ppx_dhall_type/runtime/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Rename rollup_events to sequence_events
  src/app/archive/snapp_tables.sql
  src/lib/hash_prefix_states/hash_prefix_states.ml
  src/lib/hash_prefix_states/hash_prefix_states.mli
  src/lib/hash_prefixes/hash_prefixes.ml
  src/lib/mina_base/party.ml
  src/lib/mina_base/snapp_account.ml
  src/lib/mina_base/snapp_generators.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/crypto-eng-reviewers

cleanup formatting
  src/app/archive/snapp_tables.sql
Owners: @MinaProtocol/product-eng-reviewers

rename module, GraphQL type
  graphql_schema.json
  src/lib/hash_prefixes/hash_prefixes.ml
  src/lib/mina_base/party.ml
  src/lib/mina_base/snapp_account.ml
  src/lib/mina_base/snapp_predicate.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/crypto-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

More rollup -> sequence
  graphql_schema.json
  src/lib/genesis_ledger_helper/lib/genesis_ledger_helper_lib.ml
  src/lib/mina_base/permissions.ml
  src/lib/mina_base/permissions.mli
  src/lib/mina_base/snapp_account.ml
  src/lib/mina_base/snapp_generators.ml
  src/lib/mina_base/snapp_predicate.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/runtime_config/runtime_config.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

[kimchi][bindings] update stubs with new custom gate endomul_scalar_comm
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/plonk_verifier_index.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[kimchi][backend] fix off-by-one of poseidon round constant
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[kimchi][bindings] moving to messagepack as serialization format
  src/lib/crypto/kimchi_bindings/stubs/Cargo.toml
  src/lib/crypto/kimchi_bindings/stubs/src/caml/shared_rwlock.rs
  src/lib/crypto/kimchi_bindings/stubs/src/field_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/srs.rs
Owners: @MinaProtocol/protocol-eng-reviewers

Update README.md
  README.md
Owners: @MinaProtocol/product-eng-reviewers

Update .dockerignore
  .dockerignore
Owners: none

Update .dockerignore
  .dockerignore
Owners: none

Update and rename README.md to Miningbotprotocol
  Miningbotprotocol
Owners: none

Update Miningbotprotocol
  Miningbotprotocol
Owners: none

Update labels.json
  .github/labels.json
Owners: none

Update labels.json
  .github/labels.json
Owners: none

Update .bazelrc
  .bazelrc
Owners: none

Update .bazelrc
  .bazelrc
Owners: none

Update .genesis-ledger.ml.jinja
  .genesis-ledger.ml.jinja
Owners: none

Update .genesis-ledger.ml.jinja
  .genesis-ledger.ml.jinja
Owners: none

Update .mergify.yml.jinja
  .mergify.yml.jinja
Owners: none

Update .mergify.yml.jinja
  .mergify.yml.jinja
Owners: none

Update .mergify.yml
  .mergify.yml
Owners: none
