Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

code for new endo witness
  src/lib/pickles/scalar_challenge.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fixed commitment lengths
  src/lib/pickles/commitment_lengths.ml
Owners: @MinaProtocol/protocol-eng-reviewers

evaluation lengths
  src/lib/pickles/evaluation_lengths.ml
Owners: @MinaProtocol/protocol-eng-reviewers

dont unpack challenges and digests
  src/lib/pickles/limb_vector/challenge.ml
  src/lib/pickles/limb_vector/make.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update composition types
  src/lib/pickles/composition_types/composition_types.ml
  src/lib/pickles/composition_types/spec.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update plonk checks
  src/lib/pickles/plonk_checks/plonk_checks.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update shift and batch stuff
  src/lib/pickles/common.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update dummy
  src/lib/pickles/dummy.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update dlog main
  src/lib/pickles/dlog_main.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update pairing main
  src/lib/pickles/pairing_main.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update wrap main
  src/lib/pickles/wrap_main.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update step main
  src/lib/pickles/step_main.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update util
  src/lib/pickles/util.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update requests
  src/lib/pickles/requests.ml
Owners: @MinaProtocol/protocol-eng-reviewers

modifications for new proof types
  src/lib/zexe_backend/zexe_backend_common/dlog_plonk_based_keypair.ml
  src/lib/zexe_backend/zexe_backend_common/plonk_dlog_proof.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Rosetta construction supports memos
  src/app/rosetta/lib/block.ml
  src/app/rosetta/lib/construction.ml
  src/app/rosetta/lib/mempool.ml
  src/app/rosetta/test-curl/con_parse.sh
  src/app/rosetta/test-curl/con_payloads.sh
  src/app/rosetta/test-curl/con_preprocess.sh
  src/lib/rosetta_lib/transaction.ml
  src/lib/rosetta_lib/user_command_info.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Updates rosetta README
  src/app/rosetta/README.md
Owners: none

Reformat
  src/app/archive/archive_lib/processor.ml
Owners: @MinaProtocol/product-eng-reviewers

Update src/backend_utilities/misc/misc.go
  src/backend_utilities/misc/misc.go
Owners: none

Update src/backend_utilities/counter/time_heap.go
  src/backend_utilities/counter/time_heap.go
Owners: none

Update src/app/node_status_collection_backend/src/submit.go
  src/app/node_status_collection_backend/src/submit.go
Owners: none

Verification keys Base58Check in GraphQL, runtime config
  src/lib/mina_base/snapp_generators.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/pickles/pickles.mli
  src/lib/runtime_config/runtime_config.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

Improvements to short-range fork check algorithm
  docs/specs/consensus/README.md
Owners: none

replace old base64 code
  src/lib/genesis_ledger_helper/lib/genesis_ledger_helper_lib.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fixed some typos and update genesis block notations
  docs/specs/consensus/README.md
Owners: none

Fixed epochSlot notation
  docs/specs/consensus/README.md
Owners: none

[kimchi][backend] refactor poseidon to take array of array of length 3
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fixes+debug statements
  src/app/trivial_snapp_txn_gen/trivial_snapp_txn_gen.ml
  src/lib/filtered_external_transition/filtered_external_transition.ml
  src/lib/mina_base/parties.ml
  src/lib/mina_base/signature.ml
  src/lib/mina_base/signature.mli
  src/lib/mina_base/transaction.ml
  src/lib/mina_base/user_command.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/network_pool/transaction_pool.ml
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/verifier/common.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

deprecate setStaking command
  graphql_schema.json
  src/app/cli/src/init/client.ml
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

Make many fields optional
  src/app/rosetta/README.md
  src/lib/rosetta_models/account_balance_request.ml
  src/lib/rosetta_models/account_coins_request.ml
  src/lib/rosetta_models/construction_combine_request.ml
  src/lib/rosetta_models/construction_metadata_request.ml
  src/lib/rosetta_models/construction_payloads_request.ml
  src/lib/rosetta_models/construction_preprocess_request.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Clarifies needed modification of models
  src/app/rosetta/README.md
Owners: none

post-merge cleanup
  src/lib/mina_base/party.ml
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Create stale.yml
  .github/workflows/stale.yml
Owners: none

WIP
  frontend/client_sdk/src/MinaSDK.d.ts
  frontend/client_sdk/src/MinaSDK.re
Owners: @MinaProtocol/product-eng-reviewers

[kimchi][backend] add backend code for new endoscale scalar gate
  src/lib/crypto/kimchi_backend/common/endoscale_round.ml
  src/lib/crypto/kimchi_backend/common/endoscale_scalar_round.ml
  src/lib/crypto/kimchi_backend/common/plonk_constraint_system.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Completed spec of hashState
  docs/specs/consensus/README.md
Owners: none

Fix to hashState
  docs/specs/consensus/README.md
Owners: none

Fixed typo
  docs/specs/consensus/README.md
Owners: none

Updated acknowledgements
  docs/specs/consensus/README.md
Owners: none

Moved stateHash out of review
  docs/specs/consensus/README.md
Owners: none

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers
