Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

coda to mina
  automation/terraform/modules/kubernetes/testnet/locals.tf
  automation/terraform/modules/kubernetes/testnet/variables.tf
  automation/terraform/modules/o1-testnet/inputs.tf
  buildkite/scripts/run-test-executive.sh
  helm/archive-node/templates/archive-service.yaml
  helm/archive-node/templates/archive.yaml
  helm/archive-node/templates/genesis-configmap.yaml
  helm/archive-node/values.yaml
  helm/block-producer/templates/block-producer.yaml
  helm/block-producer/templates/genesis-configmap.yaml
  helm/block-producer/values.yaml
  helm/plain-node/templates/plain-node-service.yaml
  helm/plain-node/templates/plain-node.yaml
  helm/plain-node/values.yaml
  helm/seed-node/templates/genesis-configmap.yaml
  helm/seed-node/templates/seed-node.yaml
  helm/seed-node/templates/seed-service.yaml
  helm/seed-node/values.yaml
  helm/snark-worker/templates/coordinator-service.yaml
  helm/snark-worker/templates/genesis-configmap.yaml
  helm/snark-worker/templates/snark-coordinator.yaml
  helm/snark-worker/templates/snark-worker.yaml
  helm/snark-worker/values.yaml
  src/app/test_executive/test_executive.ml
Owners: @MinaProtocol/infra-eng-reviewers

small fix
  automation/terraform/modules/kubernetes/testnet/variables.tf
  automation/terraform/modules/o1-testnet/inputs.tf
  helm/seed-node/templates/seed-node.yaml
Owners: none

Add scripts to quickly configure a remote ssh host
  README-dev.md
  scripts/setup-nix-remote.sh
  scripts/upload-nix-remote.sh
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/infra-eng-reviewers

Describe new block storage
  rfcs/0042-bitswap.md
Owners: none

Describe soft-fork shipping, root CID verification
  rfcs/0042-bitswap.md
Owners: none

Fixup: ignore generated local ledger in snark if the parties failed
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Tweak account creation logic to fix sparse ledger implementation
  src/lib/mina_base/ledger.ml
  src/lib/mina_base/sparse_ledger.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_base/transaction_validator.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Implement bitswap block split/join
  src/app/libp2p_helper/src/libp2p_helper/bitswap_block.go
  src/app/libp2p_helper/src/libp2p_helper/bitswap_block_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Fixed example
  docs/specs/consensus/README.md
Owners: none

Reword something
  docs/specs/consensus/README.md
Owners: none

Use signed amount in global fee excess
  src/lib/currency/currency.ml
  src/lib/currency/currency.mli
  src/lib/currency/intf.ml
  src/lib/mina_base/ledger.mli
  src/lib/mina_base/parties_logic.ml
  src/lib/mina_base/sparse_ledger.ml
  src/lib/mina_base/sparse_ledger.mli
  src/lib/mina_base/transaction_logic.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

logproc
  buildkite/scripts/run-test-executive.sh
Owners: @MinaProtocol/infra-eng-reviewers

Fix group_by_parties_rev for some edge cases
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

build logproc in the build test exec bk step, may be redundant
  buildkite/scripts/build-test-executive.sh
  buildkite/scripts/run-test-executive.sh
  buildkite/src/Command/TestExecutive.dhall
Owners: @MinaProtocol/infra-eng-reviewers

artifact-cache-helper re-dl logproc
  buildkite/src/Command/TestExecutive.dhall
Owners: @MinaProtocol/infra-eng-reviewers

DOT SLASH
  buildkite/scripts/run-test-executive.sh
Owners: @MinaProtocol/infra-eng-reviewers

dot exe
  buildkite/scripts/run-test-executive.sh
Owners: @MinaProtocol/infra-eng-reviewers

better default image
  automation/terraform/modules/kubernetes/testnet/variables.tf
  automation/terraform/modules/o1-testnet/inputs.tf
  helm/archive-node/values.yaml
  helm/block-producer/values.yaml
  helm/seed-node/values.yaml
  helm/snark-worker/values.yaml
Owners: none

replace
  helm/plain-node/values.yaml
Owners: none

bump versions, do changelog
  helm/archive-node/CHANGELOG.md
  helm/archive-node/Chart.yaml
  helm/block-producer/CHANGELOG.md
  helm/block-producer/Chart.yaml
  helm/common/Makefile
  helm/plain-node/CHANGELOG.md
  helm/plain-node/Chart.yaml
  helm/seed-node/CHANGELOG.md
  helm/seed-node/Chart.yaml
  helm/snark-worker/CHANGELOG.md
  helm/snark-worker/Chart.yaml
  helm/watchdog/Chart.yaml
  helm/watchdog/templates/watchdog.yaml
  helm/watchdog/values.yaml
Owners: none

Experimental: use []byte instead of string for PeerId
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/msg.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/upcall_test.go
  src/app/libp2p_helper/src/libp2p_helper/util_test.go
  src/libp2p_ipc/libp2p_ipc.capnp
Owners: @MinaProtocol/protocol-eng-reviewers

Minor fix to ring-shift algorithm
  docs/specs/consensus/README.md
Owners: none

Minor revisions and improvements
  docs/specs/consensus/README.md
Owners: none

Fix metric help text
  src/lib/mina_metrics/mina_metrics.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Batch snark pool ledger db interactions
  src/external/ocaml-rocksdb/rocks.ml
  src/external/ocaml-rocksdb/rocks_intf.ml
  src/external/ocaml-rocksdb/rocks_options.ml
  src/lib/key_value_database/key_value_database.ml
  src/lib/merkle_ledger/any_ledger.ml
  src/lib/merkle_ledger/base_ledger_intf.ml
  src/lib/merkle_ledger/database.ml
  src/lib/merkle_ledger/null_ledger.ml
  src/lib/merkle_mask/masking_merkle_tree.ml
  src/lib/network_pool/intf.ml
  src/lib/network_pool/mocks.ml
  src/lib/network_pool/snark_pool.ml
  src/lib/rocksdb/database.ml
  src/lib/rocksdb/serializable.ml
Owners: @emberian, @bkase, @psteckler, @imeckler, @mrmr1993, @MinaProtocol/protocol-eng-reviewers

Some small tracing modifications
  src/app/cli/src/init/coda_run.ml
  src/lib/verifier/prod.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix GC bug
  src/external/ocaml-rocksdb/rocks.ml
  src/external/ocaml-rocksdb/rocks_common.ml
Owners: @emberian, @bkase, @psteckler, @imeckler, @mrmr1993

Fix unit tests
  src/lib/merkle_ledger_tests/test_stubs.ml
  src/lib/network_pool/snark_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix snark pool race condition
  src/lib/network_pool/intf.ml
  src/lib/network_pool/snark_pool.ml
  src/lib/network_pool/snark_pool_diff.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Breakup staged ledger application async jobs
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Address PR review
  src/lib/network_pool/snark_pool.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Address more PR review comments
  src/lib/network_pool/snark_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Optimize /network/status
  src/app/rosetta/lib/network.ml
Owners: none

Bump o1trace buffer size; catch exception
  src/lib/o1trace/o1trace.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Update devnet chain id
  src/app/rosetta/lib/network.ml
Owners: none

Fix rocks multi_get bug
  src/external/ocaml-rocksdb/rocks.ml
  src/lib/rocksdb/database.ml
Owners: @emberian, @bkase, @psteckler, @imeckler, @mrmr1993, @MinaProtocol/protocol-eng-reviewers

Refactor
  src/lib/network_pool/snark_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Escape json strings in trace-tool (dumb version)
  src/app/trace-tool/src/main.rs
Owners: @MinaProtocol/protocol-eng-reviewers

Remove debug logs
  src/app/rosetta/lib/network.ml
Owners: none

reformat
  src/lib/rocksdb/database.ml
Owners: @MinaProtocol/protocol-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers
