Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

Update libp2p_ipc makefile
  src/libp2p_ipc/.gitignore
  src/libp2p_ipc/Makefile
  src/libp2p_ipc/default.nix
  src/libp2p_ipc/go.mod
  src/libp2p_ipc/go.sum
Owners: none

Upcall test: all upcalls are successfully tested
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/pubsub_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/upcall_test.go
  src/app/libp2p_helper/src/libp2p_helper/util_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Update main_test
  scripts/build-go-helper.sh
  src/app/libp2p_helper/Makefile
  src/app/libp2p_helper/src/libp2p_helper/main_test.go
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Use capnp for message encoding
  src/app/libp2p_helper/Makefile
  src/app/libp2p_helper/src/codanet.go
  src/app/libp2p_helper/src/generate_methodidx/BUILD.bazel
  src/app/libp2p_helper/src/generate_methodidx/main.go
  src/app/libp2p_helper/src/go.mod
  src/app/libp2p_helper/src/go.sum
  src/app/libp2p_helper/src/libp2p_helper/BUILD.bazel
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/data.go
  src/app/libp2p_helper/src/libp2p_helper/error.go
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/app/libp2p_helper/src/libp2p_helper/methodidx_jsonenum.go
  src/app/libp2p_helper/src/libp2p_helper/msg.go
Owners: @MinaProtocol/protocol-eng-reviewers

Fix ubuntu docker image builder
  dockerfiles/stages/4-builder
Owners: @MinaProtocol/infra-eng-reviewers

Split libp2p_helper main to a few files
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/data.go
  src/app/libp2p_helper/src/libp2p_helper/error.go
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/app/libp2p_helper/src/libp2p_helper/msg.go
Owners: @MinaProtocol/protocol-eng-reviewers

Add information about ipc messages to README
  src/app/libp2p_helper/README.md
  src/app/libp2p_helper/src/libp2p_helper/stream_msg.go
Owners: @MinaProtocol/protocol-eng-reviewers

Fix CI build
  .gitignore
  buildkite/src/Command/Libp2pHelperBuild.dhall
  buildkite/src/Jobs/Test/Libp2pUnitTest.dhall
  dockerfiles/stages/4-builder
  src/app/libp2p_helper/Makefile
  src/app/libp2p_helper/README.md
  src/libp2p_ipc/Makefile
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Upcall test: implement basic test
  src/app/libp2p_helper/src/libp2p_helper/config_msg.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/main_test.go
  src/app/libp2p_helper/src/libp2p_helper/msg.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/upcall_test.go
  src/app/libp2p_helper/src/libp2p_helper/util_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Upcall test: stream reset
  src/app/libp2p_helper/src/libp2p_helper/upcall_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Address review comments
  src/app/libp2p_helper/README.md
  src/app/libp2p_helper/src/libp2p_helper/incoming_msg.go
  src/app/libp2p_helper/src/libp2p_helper/pubsub_msg.go
Owners: @MinaProtocol/protocol-eng-reviewers

Split app.go, main_test.go, get rid of `seqs`
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/data.go
  src/app/libp2p_helper/src/libp2p_helper/incoming_msg.go
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/app/libp2p_helper/src/libp2p_helper/main_test.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/pubsub_msg.go
  src/app/libp2p_helper/src/libp2p_helper/pubsub_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/util_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Update libp2p IPC capnp description
  src/libp2p_ipc/libp2p_ipc.capnp
Owners: none

Rename functions, add SetNodeStatus test
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/main_test.go
  src/app/libp2p_helper/src/libp2p_helper/msg.go
Owners: @MinaProtocol/protocol-eng-reviewers

increased the expiry slot to allow for any slowness in the test execution
  src/lib/network_pool/transaction_pool.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix client SDK build
  src/lib/mina_base/account.ml
  src/lib/mina_base/snapp_account.ml
Owners: @MinaProtocol/protocol-eng-reviewers

add missing file
  src/nonconsensus/mina_numbers/snapp_version.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fix type error
  src/lib/staged_ledger/staged_ledger.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Change file to symlink
  src/nonconsensus/mina_numbers/snapp_version.ml
Owners: @MinaProtocol/protocol-eng-reviewers

rename parties -> txns
  src/lib/mina_lib/mina_lib.ml
Owners: @MinaProtocol/protocol-eng-reviewers

add Enqueued status
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

Add pooledSnappCommands GraphQL query
  graphql_schema.json
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

Rosetta Documentation tweaks for construction APIs
  rfcs/0038-rosetta-construction-api.md
  src/app/rosetta/README.md
  src/app/rosetta/test-curl/con_parse.sh
Owners: none

diable replayer test
  buildkite/scripts/replayer-test.sh
Owners: @MinaProtocol/infra-eng-reviewers

Changed for loop to list comp
  automation/services/watchdog/make_report.py
Owners: none

Move versions to v2
  src/app/rosetta/README.md
Owners: none

Check new timing data in transaction_logic
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fail hard in txn logic when there is invalid timing info
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Bump o1trace buffer size; catch exception
  src/lib/o1trace/o1trace.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix rocks multi_get bug
  src/external/ocaml-rocksdb/rocks.ml
  src/lib/rocksdb/database.ml
Owners: @emberian, @bkase, @psteckler, @imeckler, @mrmr1993, @MinaProtocol/protocol-eng-reviewers

Escape json strings in trace-tool (dumb version)
  src/app/trace-tool/src/main.rs
Owners: @MinaProtocol/protocol-eng-reviewers

reformat
  src/lib/rocksdb/database.ml
Owners: @MinaProtocol/protocol-eng-reviewers

bindings
  src/lib/marlin_plonk_bindings/dune
  src/lib/marlin_plonk_bindings/marlin_plonk_bindings.ml
  src/lib/marlin_plonk_bindings/pasta_fp_poseidon/dune
  src/lib/marlin_plonk_bindings/pasta_fp_poseidon/marlin_plonk_bindings_pasta_fp_poseidon.ml
  src/lib/marlin_plonk_bindings/pasta_fq_poseidon/dune
  src/lib/marlin_plonk_bindings/pasta_fq_poseidon/marlin_plonk_bindings_pasta_fq_poseidon.ml
  src/lib/marlin_plonk_bindings/stubs/src/lib.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_poseidon.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_poseidon.rs
Owners: @MinaProtocol/protocol-eng-reviewers

use bindings, add test
  src/lib/random_oracle/random_oracle.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Explicit fields for GraphQL Snapp txns
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/pickles/dune
  src/lib/pickles/pickles.mli
  src/lib/pickles/proof.ml
Owners: @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

changes for PR comments by bkase
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

Finish merge
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/app/cli/src/init/coda_run.ml
  src/lib/block_producer/block_producer.ml
  src/lib/child_processes/termination.ml
  src/lib/consensus/proof_of_stake.ml
  src/lib/gossip_net/libp2p.ml
  src/lib/marlin_plonk_bindings/stubs/dune
  src/lib/mina_lib/config.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/mina_metrics/mina_metrics.ml
  src/lib/mina_net2/mina_net2.ml
  src/lib/mina_networking/mina_networking.ml
  src/lib/network_pool/network_pool_base.ml
  src/lib/secrets/keypair.ml
  src/lib/secrets/keypair_common.ml
  src/lib/secrets/keypair_read_write.ml
  src/lib/secrets/libp2p_keypair.ml
  src/lib/secrets/uptime_keypair.ml
  src/lib/secrets/wallets.mli
  src/lib/string_sign/string_sign.ml
  src/lib/uptime_service/uptime_service.ml
  src/lib/uptime_service/uptime_snark_worker.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update case
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

unit tests
  src/lib/staged_ledger/staged_ledger.ml
Owners: @MinaProtocol/protocol-eng-reviewers

timing
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers
