Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @bkase, @dannywillems, @deepthiskumar, @georgeee, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @bkase @dannywillems @deepthiskumar @georgeee
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @bkase
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @bkase
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/app/archive @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers
/src/app/archive_blocks/ @MinaProtocol/protocol-eng-reviewers
/src/app/extract_blocks/ @MinaProtocol/protocol-eng-reviewers
/src/app/rosetta/ @MinaProtocol/protocol-eng-reviewers
/src/lib/rosetta_coding/ @MinaProtocol/protocol-eng-reviewers
/src/lib/rosetta_lib/ @MinaProtocol/protocol-eng-reviewers
/src/lib/rosetta_models/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/concurrency/promise @MinaProtocol/protocol-eng-reviewers @MinaProtocol/product-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

froze staking ledger
  scripts/hardfork/run-localnet.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Remove non-existent libp2p logger: 'routing/record'
  src/app/libp2p_helper/src/libp2p_helper/main.go
Owners: @MinaProtocol/protocol-eng-reviewers

add more coverage for hard fork test
  src/app/test_executive/hard_fork.ml
Owners: none

network precondition instead of valid-while
  src/app/test_executive/hard_fork.ml
Owners: none

add test for version upgrade
  src/app/test_executive/hard_fork.ml
Owners: none

push sig kind of txn snark for test methods
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/transaction_snark/transaction_snark_intf.ml
Owners: @MinaProtocol/protocol-eng-reviewers

propagate sig kind pushing from txn snark for testing
  src/app/test_executive/hard_fork.ml
  src/app/test_executive/peers_reliability_test.ml
  src/app/test_executive/verification_key_update.ml
  src/app/test_executive/zkapps.ml
  src/app/test_executive/zkapps_timing.ml
  src/app/zkapp_test_transaction/lib/commands.ml
  src/lib/mina_graphql/itn_zkapps.ml
  src/lib/network_pool/transaction_pool.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transaction_snark/test/account_timing/account_timing.ml
  src/lib/transaction_snark/test/account_update_network_id/account_update_network_id.ml
  src/lib/transaction_snark/test/fee_payer/fee_payer.ml
  src/lib/transaction_snark/test/zkapp_deploy/zkapp_deploy.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fixing issue with archive_blocks module which were imported when using Precomputed enu
  src/test/mina_automation/archive_blocks.ml
  src/test/mina_automation/missing_blocks_auditor.ml
  src/test/mina_automation/missing_blocks_guardian.ml
  src/test/mina_automation/runner/runner.ml
Owners: none

adding missing daemon functionalitites
  src/test/mina_automation/daemon.ml
  src/test/mina_automation/fixture/daemon.ml
  src/test/mina_automation/fixture/daemon.mli
Owners: none

update usages
  src/test/archive/archive_node_tests/archive_precomputed_blocks_test.ml
  src/test/archive/patch_archive_test/patch_archive_test.ml
Owners: none

remove commandline tests framework and use mina_automation
  src/test/command_line_tests/command_line_tests.ml
  src/test/command_line_tests/config.ml
  src/test/command_line_tests/dune
  src/test/command_line_tests/mina_bootstrapper.ml
  src/test/command_line_tests/mina_cli.ml
  src/test/command_line_tests/mina_daemon.ml
  src/test/command_line_tests/runner.ml
Owners: none

remove unused mina_path since we now detect mina location
  buildkite/scripts/single-node-tests.sh
Owners: @MinaProtocol/infra-eng-reviewers

native: initial building steps
  src/lib/crypto/kimchi_bindings/js/native/build.sh
  src/lib/crypto/kimchi_bindings/js/native/dune
  src/lib/crypto/kimchi_bindings/js/native/native_backend.js
  src/lib/crypto/kimchi_bindings/js/native/plonk_neon.node
  src/lib/crypto/kimchi_bindings/js/node_js/dune
  src/lib/crypto/kimchi_bindings/js/node_js/node_backend.js
Owners: @MinaProtocol/crypto-eng-reviewers

Move submit_work out of main in worker
  src/lib/snark_work_lib/with_job_meta.ml
  src/lib/snark_worker/entry.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove ~go from submit_work
  src/lib/snark_worker/entry.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Log snark worker working directory once
  src/lib/snark_worker/entry.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Extract get_daemon_address out of main
  src/lib/snark_worker/entry.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove 0.5s pause before performing the work
  src/lib/snark_worker/entry.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Inline 'wait' inside main
  src/lib/snark_worker/entry.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Use Deferred.forever in the worker
  src/lib/snark_work_lib/partitioned_result.ml
  src/lib/snark_worker/entry.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Move out cases out of main
  src/lib/snark_worker/entry.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add docs for the worker's loop
  src/lib/snark_worker/entry.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Improve retry logic for submit_work
  src/lib/snark_worker/entry.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove unused function
  src/lib/snark_worker/entry.ml
Owners: @MinaProtocol/protocol-eng-reviewers
