Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

[marlin] remove marlin, and import it as a normal crate in stubs
  .gitmodules
  src/lib/marlin_plonk_bindings/stubs/Cargo.toml
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings][stubs] type conversion to make new Caml types work
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_pallas.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings] fix README
  src/lib/marlin_plonk_bindings/stubs/README.md
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings] clean up, delete unused tests, add READMEs
  src/lib/marlin_plonk_bindings/README.md
  src/lib/marlin_plonk_bindings/bigint_256/test/dune
  src/lib/marlin_plonk_bindings/bigint_256/test/test.ml
  src/lib/marlin_plonk_bindings/pasta_fp_urs/test/dune
  src/lib/marlin_plonk_bindings/pasta_fp_urs/test/test.ml
  src/lib/marlin_plonk_bindings/pasta_fq_urs/test/dune
  src/lib/marlin_plonk_bindings/pasta_fq_urs/test/test.ml
  src/lib/marlin_plonk_bindings/stubs/.cargo/config
  src/lib/marlin_plonk_bindings/stubs/README.md
Owners: @MinaProtocol/protocol-eng-reviewers

[mina-version] fix
  src/lib/mina_version/gen.sh
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto] fix path after moving packages to /crypto
  scripts/zexe-standardize.sh
  src/lib/crypto/marlin_plonk_bindings/js/test/copy_over.sh
  src/lib/crypto/random_oracle/dune
  src/lib/crypto/signature_lib/dune
  src/lib/crypto/zexe_backend/zexe_backend_common/gen_version.sh
  src/lib/mina_version/gen.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

capitalize DROP TYPE
  src/app/archive/drop_tables.sql
Owners: @MinaProtocol/product-eng-reviewers

fix variable name
  src/lib/mina_base/snapp_predicate.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add block validation acceptance time metric
  src/lib/mina_metrics/mina_metrics.ml
  src/lib/mina_networking/mina_networking.ml
Owners: @MinaProtocol/protocol-eng-reviewers

more variable name changes
  graphql_schema.json
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

[crypto] added README
  src/lib/crypto/README.md
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto] make random_oracle_input a subpackage of random_oracle
  src/lib/crypto/README.md
  src/lib/crypto/random_oracle/dune
  src/lib/crypto/random_oracle/random_oracle_input/dune
  src/lib/crypto/random_oracle/random_oracle_input/random_oracle_input.ml
  src/lib/crypto/random_oracle_input/dune
  src/lib/pickles/dune
  src/lib/pickles_base/dune
  src/nonconsensus/random_oracle/dune
Owners: @MinaProtocol/protocol-eng-reviewers

[nonconsensus][crypto] fix paths after moving crypto packages
  src/lib/mina_version/gen.sh
  src/nonconsensus/random_oracle/intf.ml
  src/nonconsensus/random_oracle/random_oracle.ml
  src/nonconsensus/random_oracle/random_oracle.mli
  src/nonconsensus/signature_lib/keypair.ml
  src/nonconsensus/signature_lib/keypair.mli
  src/nonconsensus/signature_lib/private_key.ml
  src/nonconsensus/signature_lib/public_key.ml
  src/nonconsensus/signature_lib/public_key.mli
  src/nonconsensus/signature_lib/schnorr.ml
Owners: @MinaProtocol/protocol-eng-reviewers

compatible-with-1.2.0-and-async-scheduler-starvation-fixes Go back to postgresql package as opposed to v11
  dockerfiles/Dockerfile-mina-archive
Owners: @MinaProtocol/infra-eng-reviewers

Update libp2p_ipc makefile
  src/libp2p_ipc/.gitignore
  src/libp2p_ipc/Makefile
  src/libp2p_ipc/default.nix
  src/libp2p_ipc/go.mod
  src/libp2p_ipc/go.sum
Owners: none

Add information about ipc messages to README
  src/app/libp2p_helper/README.md
  src/app/libp2p_helper/src/libp2p_helper/stream_msg.go
Owners: @MinaProtocol/protocol-eng-reviewers

Update libp2p IPC capnp description
  src/libp2p_ipc/libp2p_ipc.capnp
Owners: none

Split libp2p_helper main to a few files
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/data.go
  src/app/libp2p_helper/src/libp2p_helper/error.go
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/app/libp2p_helper/src/libp2p_helper/msg.go
Owners: @MinaProtocol/protocol-eng-reviewers

Split app.go, main_test.go, get rid of `seqs`
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/data.go
  src/app/libp2p_helper/src/libp2p_helper/incoming_msg.go
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/app/libp2p_helper/src/libp2p_helper/main_test.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/pubsub_msg.go
  src/app/libp2p_helper/src/libp2p_helper/pubsub_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/util_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Fix CI build
  .gitignore
  buildkite/src/Command/Libp2pHelperBuild.dhall
  buildkite/src/Jobs/Test/Libp2pUnitTest.dhall
  dockerfiles/stages/4-builder
  src/app/libp2p_helper/Makefile
  src/app/libp2p_helper/README.md
  src/libp2p_ipc/Makefile
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Use capnp for message encoding
  src/app/libp2p_helper/Makefile
  src/app/libp2p_helper/src/codanet.go
  src/app/libp2p_helper/src/generate_methodidx/BUILD.bazel
  src/app/libp2p_helper/src/generate_methodidx/main.go
  src/app/libp2p_helper/src/go.mod
  src/app/libp2p_helper/src/go.sum
  src/app/libp2p_helper/src/libp2p_helper/BUILD.bazel
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/data.go
  src/app/libp2p_helper/src/libp2p_helper/error.go
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/app/libp2p_helper/src/libp2p_helper/methodidx_jsonenum.go
  src/app/libp2p_helper/src/libp2p_helper/msg.go
Owners: @MinaProtocol/protocol-eng-reviewers

Address review comments
  src/app/libp2p_helper/README.md
  src/app/libp2p_helper/src/libp2p_helper/incoming_msg.go
  src/app/libp2p_helper/src/libp2p_helper/pubsub_msg.go
Owners: @MinaProtocol/protocol-eng-reviewers

Rename functions, add SetNodeStatus test
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/main_test.go
  src/app/libp2p_helper/src/libp2p_helper/msg.go
Owners: @MinaProtocol/protocol-eng-reviewers

Upcall test: implement basic test
  src/app/libp2p_helper/src/libp2p_helper/config_msg.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/main_test.go
  src/app/libp2p_helper/src/libp2p_helper/msg.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/upcall_test.go
  src/app/libp2p_helper/src/libp2p_helper/util_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Upcall test: all upcalls are successfully tested
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/pubsub_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/upcall_test.go
  src/app/libp2p_helper/src/libp2p_helper/util_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Upcall test: stream reset
  src/app/libp2p_helper/src/libp2p_helper/upcall_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Update main_test
  scripts/build-go-helper.sh
  src/app/libp2p_helper/Makefile
  src/app/libp2p_helper/src/libp2p_helper/main_test.go
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Fix lint
  src/lib/mina_net2/tests/dune
Owners: @MinaProtocol/protocol-eng-reviewers

Clean up stream upon streamLost
  src/app/libp2p_helper/src/libp2p_helper/stream_msg.go
  src/lib/mina_net2/mina_net2.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix daemon build after rebase
  src/lib/mina_net2/libp2p_helper.ml
  src/lib/mina_net2/libp2p_stream.ml
  src/lib/mina_net2/libp2p_stream.mli
  src/lib/mina_net2/mina_net2.ml
  src/libp2p_ipc/build.ml
  src/libp2p_ipc/libp2p_ipc.capnp
  src/libp2p_ipc/libp2p_ipc.ml
  src/libp2p_ipc/libp2p_ipc.mli
  src/libp2p_ipc/rpcs.ml
  src/libp2p_ipc/rpcs.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Update libp2p helper
  src/app/libp2p_helper/Makefile
  src/app/libp2p_helper/src/libp2p_helper/config_msg.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/incoming_msg.go
  src/app/libp2p_helper/src/libp2p_helper/msg.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/pubsub_msg.go
  src/app/libp2p_helper/src/libp2p_helper/pubsub_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/util_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Fix ArchiveNodeUnitTest
  buildkite/src/Jobs/Test/ArchiveNodeUnitTest.dhall
Owners: @MinaProtocol/infra-eng-reviewers

Fix warnings
  src/app/libp2p_helper/src/libp2p_helper/incoming_msg.go
  src/app/libp2p_helper/src/libp2p_helper/peer_msg.go
  src/app/libp2p_helper/src/libp2p_helper/upcall_test.go
Owners: @MinaProtocol/protocol-eng-reviewers

Minor refactoring of Mina_net2
  src/app/cli/src/init/client.ml
  src/app/cli/src/tests/coda_processes.ml
  src/lib/gossip_net/libp2p.ml
  src/lib/mina_net2/libp2p_stream.ml
  src/lib/mina_net2/mina_net2.ml
  src/lib/mina_net2/mina_net2.mli
  src/lib/mina_net2/subscription.ml
  src/lib/mina_net2/subscription.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Pin capnp-ocaml from fork
  .gitmodules
  scripts/pin-external-packages.sh
  scripts/setup-opam.sh
  src/lib/transition_router/transition_router.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Fix docker images building
  dockerfiles/stages/4-builder
Owners: @MinaProtocol/infra-eng-reviewers

Implement tests for Mina_net2
  src/lib/mina_net2/tests/all_ipc.ml
  src/lib/mina_net2/tests/tests.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Update stretch image to build test executable
  buildkite/src/Constants/ContainerImages.dhall
  dockerfiles/stages/1-build-deps
  scripts/build-go-helper.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Fix ubuntu docker image builder
  dockerfiles/stages/4-builder
Owners: @MinaProtocol/infra-eng-reviewers

Libp2p helper: fix peerid ban, beginAdvertising
  src/app/libp2p_helper/src/codanet.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/error.go
  src/app/libp2p_helper/src/libp2p_helper/msg.go
Owners: @MinaProtocol/protocol-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers
