Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

[marlin_plonk_bindings][stubs] type name changes (X -> CamlX)
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_pallas.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[cleaning] fix some legacy tests
  scripts/rebuild-deb.sh
  src/app/rosetta/test-curl/con_derive.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

[marlin] remove marlin, and import it as a normal crate in stubs
  .gitmodules
  src/lib/marlin_plonk_bindings/stubs/Cargo.toml
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings][stubs] zexe -> arkworks types
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/group_affine.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/group_projective.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/mod.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fp.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fq.rs
  src/lib/marlin_plonk_bindings/stubs/src/bigint_256.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings] added some simple tests
  src/lib/marlin_plonk_bindings/bigint_256/marlin_plonk_bindings_bigint_256.ml
  src/lib/marlin_plonk_bindings/pasta_fp/marlin_plonk_bindings_pasta_fp.ml
  src/lib/marlin_plonk_bindings/pasta_fp/vector/dune
  src/lib/marlin_plonk_bindings/pasta_fp/vector/marlin_plonk_bindings_pasta_fp_vector.ml
  src/lib/marlin_plonk_bindings/pasta_fp_index/marlin_plonk_bindings_pasta_fp_index.ml
  src/lib/marlin_plonk_bindings/pasta_fq_proof/marlin_plonk_bindings_pasta_fq_proof.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[CI] fix rust version
  src/lib/marlin_plonk_bindings/stubs/dune
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_binding][stubs] revert type
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings][stubs] type conversion to make new Caml types work
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_pallas.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings][stubs] fixes to update ocaml-rs dep
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/group_affine.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/group_projective.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fp.rs
  src/lib/marlin_plonk_bindings/stubs/src/arkworks/pasta_fq.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings] clean up, delete unused tests, add READMEs
  src/lib/marlin_plonk_bindings/README.md
  src/lib/marlin_plonk_bindings/bigint_256/test/dune
  src/lib/marlin_plonk_bindings/bigint_256/test/test.ml
  src/lib/marlin_plonk_bindings/pasta_fp_urs/test/dune
  src/lib/marlin_plonk_bindings/pasta_fp_urs/test/test.ml
  src/lib/marlin_plonk_bindings/pasta_fq_urs/test/dune
  src/lib/marlin_plonk_bindings/pasta_fq_urs/test/test.ml
  src/lib/marlin_plonk_bindings/stubs/.cargo/config
  src/lib/marlin_plonk_bindings/stubs/README.md
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][proof-systems] update stubs to match updated proof-systems
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings] fix mul + add tests
  src/lib/marlin_plonk_bindings/pasta_pallas/marlin_plonk_bindings_pasta_pallas.ml
  src/lib/marlin_plonk_bindings/pasta_vesta/marlin_plonk_bindings_pasta_vesta.ml
  src/lib/marlin_plonk_bindings/stubs/src/pasta_pallas.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[marlin_plonk_bindings][stubs] zexe -> arkworks update imports
  src/lib/marlin_plonk_bindings/stubs/Cargo.toml
  src/lib/marlin_plonk_bindings/stubs/src/index_serialization.rs
  src/lib/marlin_plonk_bindings/stubs/src/lib.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fp_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_urs.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_fq_vector.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_pallas.rs
  src/lib/marlin_plonk_bindings/stubs/src/pasta_vesta.rs
  src/lib/marlin_plonk_bindings/stubs/src/urs_utils.rs
Owners: @MinaProtocol/protocol-eng-reviewers

more camlCase fixes, update schema
  graphql_schema.json
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/product-eng-reviewers

stop-time flag
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/app/cli/src/tests/coda_worker.ml
  src/app/cli/src/tests/full_test.ml
  src/lib/cli_lib/default.ml
  src/lib/mina_lib/config.ml
  src/lib/mina_lib/mina_lib.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

[mina_version] fix proof-systems id
  src/lib/mina_version/gen.sh
  src/lib/mina_version/mina_version.mli
Owners: @MinaProtocol/protocol-eng-reviewers

Snapp predicate, rename curr_global_slot
  graphql_schema.json
  src/lib/mina_base/parties.ml
  src/lib/mina_base/snapp_predicate.ml
  src/lib/mina_base/transaction_logic.ml
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/mina_state/protocol_state.ml
  src/lib/network_pool/indexed_pool.ml
  src/lib/network_pool/indexed_pool.mli
  src/lib/network_pool/transaction_pool.ml
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/product-eng-reviewers

adding cpu usage
  src/app/libp2p_helper/src/go.mod
  src/app/libp2p_helper/src/go.sum
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/lib/gossip_net/intf.ml
  src/lib/mina_net2/mina_net2.ml
  src/lib/mina_net2/mina_net2.mli
  src/lib/mina_networking/mina_networking.mli
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

adding peer_id, ip_address, commit_hash, branch, timestamp, uptime and peer_count
  src/lib/mina_lib/mina_lib.ml
  src/lib/mina_version/gen.sh
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

mina modifications
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

connecting things together
  .gitmodules
  WORKSPACE.bazel
  dockerfiles/Dockerfile-deb-builder
  dockerfiles/Dockerfile-rosetta
  dockerfiles/Dockerfile-rosetta-hardcoded
  scripts/setup-opam.sh
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Update test utility to cover more cases, handle explicit examples
  src/lib/mina_base/pending_coinbase.ml
  src/lib/mina_base/sparse_ledger.ml
  src/lib/mina_base/sparse_ledger.mli
  src/lib/sparse_ledger_lib/sparse_ledger.ml
  src/lib/transaction_consistency_tests/transaction_consistency_tests.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix overflow error in vesting_decrement timing calculation
  src/lib/mina_base/account.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Check balance for untimed accounts, hard reject for fee-payer=source
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove additional redundant Reject call
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Don't show 'timed' in error string for untimed accounts
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update GraphQL schema
  graphql_schema.json
Owners: none

feat: Added webpack CopyPlugin and remove scripts
  frontend/snapps/snarkyjs/package.json
  frontend/snapps/snarkyjs/scripts/build-dev.sh
  frontend/snapps/snarkyjs/scripts/prepublish.sh
  frontend/snapps/snarkyjs/webpack.dev.js
  frontend/snapps/snarkyjs/webpack.prod.js
Owners: @MinaProtocol/product-eng-reviewers

reformat
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix overflow error in vesting_decrement timing calculation
  src/lib/mina_base/account.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove additional redundant Reject call
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Check balance for untimed accounts, hard reject for fee-payer=source
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

update
  src/lib/transaction_consistency_tests/transaction_consistency_tests.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Update test utility to cover more cases, handle explicit examples
  src/lib/mina_base/pending_coinbase.ml
  src/lib/mina_base/sparse_ledger.ml
  src/lib/mina_base/sparse_ledger.mli
  src/lib/sparse_ledger_lib/sparse_ledger.ml
  src/lib/transaction_consistency_tests/transaction_consistency_tests.ml
Owners: @MinaProtocol/protocol-eng-reviewers

reformat
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Don't show 'timed' in error string for untimed accounts
  src/lib/mina_base/transaction_logic.ml
Owners: @MinaProtocol/protocol-eng-reviewers

adding prometheus
  .gitmodules
Owners: none

using a separate gauge for all the rpcs
  src/lib/gossip_net/libp2p.ml
  src/lib/mina_base/rpc_intf.ml
  src/lib/mina_metrics/mina_metrics.ml
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

reset gauges every 5 slots
  src/lib/mina_lib/mina_lib.ml
  src/lib/node_status_service/node_status_service.ml
Owners: @MinaProtocol/protocol-eng-reviewers

fix the typo
  src/lib/mina_version/gen.sh
Owners: @MinaProtocol/protocol-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers
