Repository MinaProtocol/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @imeckler, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @emberian, @psteckler, @mrmr1993, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/dev.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers
/src/app/cli/src/tests @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

reformat and fix rebase
  src/app/cli/src/init/coda_run.ml
  src/lib/merkle_ledger/database.ml
  src/lib/merkle_ledger_tests/test_stubs.ml
  src/lib/merkle_mask/masking_merkle_tree.ml
  src/lib/network_pool/intf.ml
  src/lib/network_pool/snark_pool.ml
  src/lib/network_pool/snark_pool_diff.ml
  src/lib/rocksdb/database.ml
  src/lib/staged_ledger/staged_ledger.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.mli
  src/lib/verifier/prod.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix build warning
  src/lib/mina_lib/mina_lib.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove long running daemon auto-stop
  src/lib/mina_lib/mina_lib.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Constrain public key curve type in rosetta API
  src/app/rosetta/lib/construction.ml
  src/lib/rosetta_lib/errors.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Fix env var backwards compatibility
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/lib/secrets/keypair_common.ml
  src/lib/secrets/privkey_error.ml
  src/lib/secrets/wallets.ml
  src/lib/secrets/wallets.mli
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][15-wires] copy/paste stubs from marlin_plonk_bindings
  src/lib/proof_systems_15_wires_bindings/README.md
  src/lib/proof_systems_15_wires_bindings/stubs/.cargo/config
  src/lib/proof_systems_15_wires_bindings/stubs/.gitignore
  src/lib/proof_systems_15_wires_bindings/stubs/Cargo.toml
  src/lib/proof_systems_15_wires_bindings/stubs/README.md
  src/lib/proof_systems_15_wires_bindings/stubs/rust-toolchain.toml
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/group_affine.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/group_projective.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/mod.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/pasta_fp.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/pasta_fq.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/bin/ocaml_gen.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/caml_pointer.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/index_serialization.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/lib.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_urs.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_vector.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_urs.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_vector.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_pallas.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_vesta.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/plonk_gate.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/plonk_verifier_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/urs_utils.rs
  src/wires_15_backend.opam
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][zexe_backend] add documentation
  src/lib/zexe_backend/pasta/basic.ml
  src/lib/zexe_backend/zexe_backend_common/curve.ml
  src/lib/zexe_backend/zexe_backend_common/plonk_constraint_system.ml
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][15-wires] fix lints in stubs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/group_projective.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/pasta_fp.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/pasta_fq.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/srs.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/urs_utils.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][15-wires] implement stubs and OCaml binding generation
  src/lib/proof_systems_15_wires_bindings/stubs/Cargo.toml
  src/lib/proof_systems_15_wires_bindings/stubs/README.md
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/group_affine.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/pasta_fp.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/arkworks/pasta_fq.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/bin/ocaml_gen.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/caml_pointer.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/gate_vector.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/index_serialization.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/lib.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_urs.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fp_vector.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_urs.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_fq_vector.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_pallas.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/pasta_vesta.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/plonk_gate.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/plonk_verifier_index.rs
  src/lib/proof_systems_15_wires_bindings/stubs/src/srs.rs
  src/lib/zexe_backend/zexe_backend_common/plonk_constraint_system.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Remove verifier auto-restart
  src/lib/verifier/prod.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Add CHANGES file
  CHANGES
Owners: none

lk86/fix-docker-tags-minaprotocol Coda to mina for docker images on release branches
  buildkite/scripts/export-git-env-vars.sh
  dockerfiles/Dockerfile-mina-archive
  scripts/archive/build-release-archives.sh
  scripts/release-docker.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

[crypto][15-wires] move binding generation to own crate (requires nightly)
  src/lib/proof_systems_15_wires_bindings/stubs/binding_generation/Cargo.toml
  src/lib/proof_systems_15_wires_bindings/stubs/binding_generation/src/main.rs
  src/lib/proof_systems_15_wires_bindings/stubs/dune
Owners: @MinaProtocol/protocol-eng-reviewers

update graphql input
  src/app/cli/src/init/client.ml
Owners: @MinaProtocol/protocol-eng-reviewers

lk86/fix-docker-tags-minaprotocol Update archive node docker version
  buildkite/src/Jobs/Release/ArchiveNodeArtifact.dhall
Owners: @MinaProtocol/infra-eng-reviewers

update GraphQL schema
  graphql_schema.json
Owners: none

[crypto][15-wires] make binding generation work within dune rule
  src/kimchi.opam
  src/lib/proof_systems_15_wires_bindings/stubs/binding_generation/src/main.rs
  src/lib/proof_systems_15_wires_bindings/stubs/dune
  src/lib/proof_systems_15_wires_bindings/stubs/src/lib.rs
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi] update README
  src/lib/proof_systems_15_wires_bindings/stubs/README.md
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto][kimchi] moving kimchi to a crypto/ folder
  src/lib/crypto/kimchi_bindings/README.md
  src/lib/crypto/kimchi_bindings/stubs/.cargo/config
  src/lib/crypto/kimchi_bindings/stubs/.gitignore
  src/lib/crypto/kimchi_bindings/stubs/Cargo.toml
  src/lib/crypto/kimchi_bindings/stubs/README.md
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/Cargo.toml
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/src/main.rs
  src/lib/crypto/kimchi_bindings/stubs/dune
  src/lib/crypto/kimchi_bindings/stubs/rust-toolchain.toml
  src/lib/crypto/kimchi_bindings/stubs/src/arkworks/bigint_256.rs
  src/lib/crypto/kimchi_bindings/stubs/src/arkworks/group_affine.rs
  src/lib/crypto/kimchi_bindings/stubs/src/arkworks/group_projective.rs
  src/lib/crypto/kimchi_bindings/stubs/src/arkworks/mod.rs
  src/lib/crypto/kimchi_bindings/stubs/src/arkworks/pasta_fp.rs
  src/lib/crypto/kimchi_bindings/stubs/src/arkworks/pasta_fq.rs
  src/lib/crypto/kimchi_bindings/stubs/src/caml_pointer.rs
  src/lib/crypto/kimchi_bindings/stubs/src/gate_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/lib.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_oracles.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_oracles.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_vector.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_pallas.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_vesta.rs
  src/lib/crypto/kimchi_bindings/stubs/src/plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/srs.rs
  src/lib/crypto/kimchi_bindings/stubs/src/urs_utils.rs
  src/lib/proof_systems_15_wires_bindings/README.md
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto] adding README to crypto/ folder
  src/lib/crypto/README.md
Owners: @MinaProtocol/protocol-eng-reviewers

[crypto] removing ocaml-gen from plonkv1
  src/lib/marlin_plonk_bindings/stubs/src/bin/ocaml_gen.rs
Owners: @MinaProtocol/protocol-eng-reviewers

lk86/fix-docker-tags-minaprotocol Fix dockerfile dependency
  dockerfiles/Dockerfile-mina-daemon-puppeteered
Owners: @MinaProtocol/infra-eng-reviewers

lk86/port-extract-blocks-fix-to-1.2.0 Port extract blocks fix over from 9323
  src/app/extract_blocks/extract_blocks.ml
Owners: none

Revert "Merge pull request #9565 from MinaProtocol/feature/rm-verifier-restart-1.2.0"
  CHANGES
  src/lib/verifier/prod.ml
Owners: @MinaProtocol/protocol-eng-reviewers

feature/rm-verifier-restart-1.2.0 Restore wait_safe function as exit_or_signal uses it
  src/lib/verifier/prod.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Revert "Revert "Merge pull request #9565 from MinaProtocol/feature/rm-verifier-restart-1.2.0""
  CHANGES
  src/lib/verifier/prod.ml
Owners: @MinaProtocol/protocol-eng-reviewers

Compute snapp statements for 'proved' parties
  src/lib/transaction_snark/transaction_snark.ml
Owners: @MinaProtocol/protocol-eng-reviewers

feature/rm-verifier-restart-1.2.0 Fix version strings in run-test-executive.sh
  buildkite/scripts/run-test-executive.sh
Owners: @MinaProtocol/infra-eng-reviewers

feature/rm-verifier-restart-1.2.0 Dont kill tail immediately
  dockerfiles/scripts/daemon-entrypoint.sh
Owners: @MinaProtocol/infra-eng-reviewers

bump catchup unit test timeout
  src/lib/transition_handler/catchup_scheduler.ml
Owners: @MinaProtocol/protocol-eng-reviewers

feature/rm-verifier-restart-1.2.0 Dont exit when wait fails with an error code
  dockerfiles/scripts/daemon-entrypoint.sh
Owners: @MinaProtocol/infra-eng-reviewers

automation chnages for devnet
  automation/scripts/auto-deploy.sh
  automation/scripts/generate-keys-and-ledger.sh
  automation/terraform/testnets/devnet/devnet_seeds.txt
  automation/terraform/testnets/devnet/main.tf
Owners: none

bump catchup unit test timeout
  src/lib/transition_handler/catchup_scheduler.ml
Owners: @MinaProtocol/protocol-eng-reviewers

address review comments
  src/lib/mina_base/pending_coinbase_intf.ml
  src/lib/transaction_snark/transaction_snark.ml
  src/lib/transaction_snark_scan_state/transaction_snark_scan_state.ml
Owners: @MinaProtocol/protocol-eng-reviewers

bump catchup unit test timeout
  src/lib/transition_handler/catchup_scheduler.ml
Owners: @MinaProtocol/protocol-eng-reviewers

bump catchup unit test timeout
  src/lib/transition_handler/catchup_scheduler.ml
Owners: @MinaProtocol/protocol-eng-reviewers

exlude genesis state check due to dummy hashes
  src/lib/transition_frontier/persistent_frontier/persistent_frontier.ml
Owners: @MinaProtocol/protocol-eng-reviewers

refactor common functions for delegation backend and node status backend
  src/app/delegation_backend/src/go.mod
  src/app/delegation_backend/src/submit.go
  src/app/node_status_collection_backend/src/go.mod
  src/app/node_status_collection_backend/src/go.sum
  src/app/node_status_collection_backend/src/submit.go
  src/backend_utilities/go.mod
  src/backend_utilities/go.sum
  src/backend_utilities/utilities.go
Owners: none

[crypto][kimchi] create type t for vectors of Fp/Fq
  src/lib/crypto/kimchi_bindings/stubs/README.md
  src/lib/crypto/kimchi_bindings/stubs/binding_generation/src/main.rs
Owners: @MinaProtocol/protocol-eng-reviewers

Resolved networking conflicts
  src/app/libp2p_helper/src/deps.png
  src/app/libp2p_helper/src/libp2p_helper/app.go
  src/app/libp2p_helper/src/libp2p_helper/config_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/data.go
  src/app/libp2p_helper/src/libp2p_helper/main.go
  src/app/libp2p_helper/src/libp2p_helper/main_test.go
  src/app/libp2p_helper/src/libp2p_helper/pubsub_msg_test.go
  src/app/libp2p_helper/src/libp2p_helper/stream_msg.go
  src/app/libp2p_helper/src/libp2p_helper/upcall_test.go
  src/app/libp2p_helper/src/libp2p_helper/util_test.go
  src/lib/mina_net2/mina_net2.ml
  src/lib/mina_net2/tests/tests.ml
  src/lib/secrets/keypair_common.ml
Owners: @MinaProtocol/protocol-eng-reviewers
